{% extends 'baseAdmin.html.twig' %}

{% block title %}Programas aprobados{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de programas aprobados</h3>
                {#                <a title="Adicionar" class="btn btn-primary mr-2" href="{{ path('app_solicitud_programa_registrar') }}"><i#}
                {#                            class="fa fa-plus"></i>#}
                {#                </a>#}

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Nombre</th>
                    <th>Tipo de programa</th>
                    <th>Universidad</th>
                    <th>Coordinador</th>
                    <th>Categoría de acreditación</th>
                    <th class="text-center">Opciones</th>
                </tr>
                <!-- Fila para los filtros de cada columna -->
                <tr>
                    <th></th> <!-- No filter for index -->
                    <th><input type="text" placeholder="Filtrar por Nombre" class="responsive-input" /></th>
                    <th><input type="text" placeholder="Filtrar por Tipo" class="responsive-input" /></th>
                    <th><input type="text" placeholder="Filtrar por Universidad" class="responsive-input" /></th>
                    <th><input type="text" placeholder="Filtrar por Coordinador" class="responsive-input" /></th>
                    <th><input type="text" placeholder="Filtrar por Categoría" class="responsive-input" /></th>
                    <th></th> <!-- No filter for actions -->
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.tipoPrograma.nombre | default('') }}</td>
{#                        <td>{{ item.codigoPrograma | default('') }}</td>#}
                        <td>{{ item.universidad.nombre | default('') }}</td>
                        <td>{{ item.nombreCoordinador | default('') }}</td>
                        <td>{{ item.categoriaAcreditacion.nombre | default('') }}</td>
                        <td width="15%" class="text-center responsive-col">
                            <!-- Botones de acciones -->
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_solicitud_programa_detail', {'id' : item.id}) }}"
                                    data-title="Detalles del programa">
                                <i class="fa fa-eye"></i>
                            </button>
                            <a title="Completar información" href="{{ path('app_solicitud_programa_aprobar', {'id': item.id}) }}"
                               class="btn btn-outline-primary"><i class="fa fa-check"></i></a>
                            <a title="Descargar resolución" target="_blank" class="btn btn-outline-primary"
                               href="{{ app.request.getSchemeAndHttpHost() }}/uploads/resolucion_programa/{{ item.resolucionPrograma }}">
                                <i class="fa fa-download"></i>
                            </a>
                            <a title="Descargar dictámen final" target="_blank" class="btn btn-outline-primary"
                               href="{{ app.request.getSchemeAndHttpHost() }}/uploads/dictamen_final/{{ item.dictamenFinal }}">
                                <i class="fa fa-file-download"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}


