<div class="row">
    <div class="col-6">
        <h5 class="mb-0"><b>Nombre:</b> {{ item.nombre }}</h5>
        <h5 class="mb-0"><b>Visibilidad:</b> {{ item.visibilidad.nombre }}</h5>
    </div>
    <div class="col-6">
        <h5 class="mb-0"><b>Dirección web:</b> {{ item.direccionWeb | default('') }}</h5>
        <h5 class="mb-0"><b>Público objetivo:</b> {{ item.publicoObjetivo.nombre }}</h5>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h5 class="mb-0"><b>Descripción:</b> {{ item.descripcion }}</h5>
    </div>
</div>

