{% extends 'baseAdmin.html.twig' %}

{% block title %}Trámites o Servicios {% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de trámites o servicios</h3>
                <a title="Adicionar" class="btn btn-primary mr-2" href="{{ path('app_servicio_registrar') }}"><i
                            class="fa fa-plus"></i>
                </a>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Nombre del trámite</th>
                    <th>Visibilidad</th>
                    <th>Público objetivo</th>
                    <th>Tipo </th>
                    <th>Descripción</th>
                    <th>Dirección web</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td>{{ item.nombre | default('') }}</td>
                        <td>{{ item.visibilidad.nombre | default('') }}</td>
                        <td>{{ item.publicoObjetivo.nombre | default('') }}</td>
                        <td>{{ item.clasificacion | default('') }}</td>
                        <td>{{ item.descripcion | default('') }}</td>
                        <td>{{ item.direccionWeb | default('') }}</td>

                        <td width="15%" class="text-center">
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_servicio_detail', {'id' : item.id}) }}"
                                    data-title="Detalles de {{ item.clasificacion }}">
                                <i class="fa fa-eye "></i>
                            </button>

                            <a title="Modificar" href="{{ path('app_servicio_modificar', {'id': item.id}) }}"
                               class="btn btn-outline-primary"><i
                                        class="fa fa-edit"></i>
                            </a>
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_servicio_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}


