{% extends 'base.html.twig' %}

{% block title %}Akademos - MES{% endblock %}

{% block stylesheets %}
    <style>
        /*@media (max-width: 575px) {*/
        /*    .filter-dash-buttom{*/
        /*        width: 100%;*/
        /*    }*/
        /*}*/


        @media (min-width: 1200px) and (max-width: 1400px) {
            .c {
                min-width: 33.3% !important;
            }
        }

        @media (min-width: 992px) and (max-width: 1400px) {
            .p {
                min-width: 33.3% !important;
            }
        }

        .bg-blue {
            background-color: #0E375F !important;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="row" style="align-content: center">
        {% if hasRoles('ROLE_HOME_PERSONAL') %}
            <div class="col-lg-4 col-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>Personal</h3>
                        <p><br><br></p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <a href="{{ path('app_personal_portada') }}" class="small-box-footer">Entrar <i
                                class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endif %}
        {% if hasRoles('ROLE_HOME_STRUCT') %}
            <div class="col-lg-4 col-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>Estructura</h3>
                        <p><br><br></p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-network-wired"></i>
                    </div>
                    <a href="{{ path('app_estructura_portada') }}" class="small-box-footer">Entrar <i
                                class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endif %}
        {% if hasRoles('ROLE_PORTADA_ADMIN') %}
            <div class="col-lg-4 col-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>Administración</h3>
                        <p><br><br></p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-cog"></i>
                    </div>
                    <a href="{{ path('app_administracion_portada') }}" class="small-box-footer">Entrar <i
                                class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endif %}
        {% if hasRoles('ROLE_HOME_INSTIT') %}
            <div class="col-lg-4 col-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>Instituciones</h3>
                        <p><br><br></p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fa fa-university"></i>
                    </div>
                    <a href="{{ path('app_institucion_portada') }}" class="small-box-footer">Entrar <i
                                class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endif %}
        {% if hasRoles('ROLE_HOME_PREGR') %}
            <div class="col-lg-4 col-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>Pregrado</h3>
                        <p><br><br></p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fa fa-book"></i>
                    </div>
                    <a href="{{ path('app_pregrado_portada') }}" class="small-box-footer">Entrar <i
                                class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endif %}
        {% if hasRoles('ROLE_HOME_POSTG') %}
            <div class="col-lg-4 col-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>Posgrado</h3>
                        <p><br><br></p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-book-reader"></i>
                    </div>
                    <a href="{{ path('app_postgrado_portada') }}" class="small-box-footer">Entrar <i
                                class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endif %}
        {% if hasRoles('ROLE_HOME_TRAZAS') %}
            <div class="col-lg-4 col-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>Trazas</h3>
                        <p><br><br></p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-clone"></i>
                    </div>
                    <a href="{{ path('app_traza_portada') }}" class="small-box-footer">Entrar <i
                                class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endif %}
{#        {% if hasRoles('ROLE_HOME_REPORT') %}#}
{#            <div class="col-lg-4 col-6">#}
{#                <div class="small-box bg-blue">#}
{#                    <div class="inner">#}
{#                        <h3>Reportes</h3>#}
{#                        <p><br><br></p>#}
{#                    </div>#}
{#                    <div class="icon">#}
{#                        <i class="fa fa-bars"></i>#}
{#                    </div>#}
{#                    <a href="{{ path('app_reporte_portada') }}" class="small-box-footer">Entrar <i#}
{#                                class="fas fa-arrow-circle-right"></i></a>#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}

        {% if hasRoles('ROLE_HOME_TRAMITES') %}
            <div class="col-lg-4 col-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>Trámites</h3>
                        <p><br><br></p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-address-book"></i>
                    </div>
                    <a href="{{ path('app_tramite_portada') }}" class="small-box-footer">Entrar <i
                                class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endif %}

        {% if hasRoles('ROLE_HOME_CONVENIO') %}
            <div class="col-lg-4 col-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>Convenios</h3>
                        <p><br><br></p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-globe"></i>
                    </div>
                    <a href="{{ path('app_convenio_portada') }}" class="small-box-footer">Entrar <i
                                class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endif %}

{#        {% if hasRoles('ROLE_HOME_COOPERACION') %}#}
{#            <div class="col-lg-4 col-6">#}
{#                <div class="small-box bg-blue">#}
{#                    <div class="inner">#}
{#                        <h3>Cooperación</h3>#}
{#                        <p><br><br></p>#}
{#                    </div>#}
{#                    <div class="icon">#}
{#                        <i class="fa fa-bars"></i>#}
{#                    </div>#}
{#                    <a href="{{ path('app_cooperacion_portada') }}" class="small-box-footer">Entrar <i#}
{#                                class="fas fa-arrow-circle-right"></i></a>#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}

{#        {% if hasRoles('ROLE_HOME_VISITA') %}#}
{#            <div class="col-lg-4 col-6">#}
{#                <div class="small-box bg-blue">#}
{#                    <div class="inner">#}
{#                        <h3>Visitas</h3>#}
{#                        <p><br><br></p>#}
{#                    </div>#}
{#                    <div class="icon">#}
{#                        <i class="fa fa-bars"></i>#}
{#                    </div>#}
{#                    <a href="{{ path('app_visita_portada') }}" class="small-box-footer">Entrar <i#}
{#                                class="fas fa-arrow-circle-right"></i></a>#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}
{#        {% if hasRoles('ROLE_HOME_ECONOMIA') %}#}
{#            <div class="col-lg-4 col-6">#}
{#                <div class="small-box bg-blue">#}
{#                    <div class="inner">#}
{#                        <h3>Economía</h3>#}
{#                        <p><br><br></p>#}
{#                    </div>#}
{#                    <div class="icon">#}
{#                        <i class="fa fa-bars"></i>#}
{#                    </div>#}
{#                    <a href="{{ path('app_economia_portada') }}" class="small-box-footer">Entrar <i#}
{#                                class="fas fa-arrow-circle-right"></i></a>#}
{#                </div>#}
{#            </div>#}
{#        {% endif %}#}



    </div>

{% endblock %}

{% block javascripts %}
    <script>

    </script>

{% endblock %}

