<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h5 class="mb-0"><b>Nombre:</b> {{ item.nombre }}</h5>
                <h5 class="mb-0"><b>Siglas:</b> {{ item.siglas }}</h5>
                <h5 class="mb-0"><b> Categoría de estructura :</b> {{ item.categoriaEstructura.nombre | default('') }}
                </h5>
                <h5 class="mb-0"><b>Fecha de activación:</b> {{ item.fechaActivacion | date('d/m/Y') }}</h5>
                <h5 class="mb-0"><b> Provincia :</b> {{ item.provincia.nombre | default('') }}</h5>
                <h5 class="mb-0"><b> Dirección :</b> {{ item.direccion | default('') }}</h5>
            </div>
            <div class="col-6">
                <h5 class="mb-0"><b> Subordinado a:</b> {{ item.estructura.nombre | default('') }}</h5>
                <h5 class="mb-0"><b> Tipo de estructura :</b> {{ item.tipoEstructura.nombre| default('') }}</h5>
                <h5 class="mb-0"><b>Correo:</b> {{ item.email }}</h5>
                <h5 class="mb-0"><b> Municipio:</b> {{ item.municipio.nombre | default('') }}</h5>
                <h5 class="mb-0"><b> Teléfono:</b> {{ item.telefono | default('') }}</h5>
                {% if '1' == item.activo %}
                    <h5 class="mb-0"><b>Estado:</b> Habilitado</h5>
                {% else %}
                    <h5 class="mb-0"><b>Estado:</b> Deshabilitado</h5>
                {% endif %}
            </div>
        </div>
    </div>

</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title font-weight-bold">
            <i class="ion ion-clipboard mr-1"></i>
            Responsabilidades asociadas
        </h3>
    </div>

    <div class="card-body">
        <table class="table table-bordered table-striped dataTable1">
            <thead class="table-custom-header">
            <tr>
                <th>No.</th>
                <th>Responsabilidad</th>
                <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            {% for item in registros %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.responsabilidad.nombre | default('') }}</td>
                    <td>{{ item.cantidad }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>


{% block javascripts %}
    <script>
        $(".dataTable1").DataTable({
            "lengthMenu": [[5, 25, 50, -1], [5, 25, 50, "All"]],
            "responsive": true, "lengthChange": true, "autoWidth": false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No existen resultados",
                "sInfo": "Registros del _START_ al _END_ de  _TOTAL_ ",
                "sInfoEmpty": "Rregistros del 0 al 0 de  0 ",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                "buttons": {
                    "copy": "Copiar",
                    "colvis": "Visibilidad"
                }
            }
        });
    </script>
{% endblock %}