{% extends 'baseAdmin.html.twig' %}

{% block title %}Entidades{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}



    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de entidades </h3>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Estructura superior</th>
                    <th>Nombre</th>
                    <th>Categoría de estructura</th>
                    <th>Estado</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1">{{ loop.index }}</td>
                        <td>{{ item.estructura.nombre | default('') }}</td>
                        <td>{{ item.nombre | default('') }}</td>
                        <td>{{ item.categoriaEstructura.nombre | default('') }}</td>
                        <td class="-text-center">
                            {% if '1' == item.activo %}
                                <span class="ms-status -active">Habilitado</span>
                            {% else %}
                                <span class="ms-status">Deshabilitado</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <button class="btn btn-outline-primary modalDetailAction" title="Detalles"
                                    data-url="{{ path('app_estructura_detail', {'id' : item.id}) }}"
                                    data-title="Detalles de la estructura">
                                <i class="fa fa-eye "></i>
                            </button>
                            <button class="btn btn-outline-danger elementRemove" title="Eliminar"
                                    data-url="{{ path('app_estructura_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>

{% endblock %}
