{% extends 'baseAdmin.html.twig' %}

{% block title %}Asignar universidades{% endblock %}
{% block stylesheets %}
    <style>
        #map {
            height: 350px;
        }
    </style>

{% endblock %}
{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">
                <h3 class="card-title text-bold text-gray">Asignar universidades</h3>
                <div style="float: left;padding-right: 1%">
                    <a title="Exportar universidades asignadas" class="btn btn-primary" target="_blank"
                       href="{{ path('app_solicitud_programa_academico_aprobar_universidades_asignadas_exportar_pdf') }}"><i class="fa fa-file-pdf"></i>
                    </a>
                </div>
            </div>
        </div>
        {{ include('modules/pregrado/solicitud_programa_academico_aprobado/detail.html.twig', { 'item': solicitudProgramaAcademico, 'format':'col3' }) }}
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.institucion) }}
                    {{ form_widget(form.institucion) }}
                    {{ form_errors(form.institucion) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.categoriaAcreditacion) }}
                    {{ form_widget(form.categoriaAcreditacion) }}
                    {{ form_errors(form.categoriaAcreditacion) }}
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    <label for="modalidad">Tipo de curso</label>
                    <select id="modalidad" name="modalidad[]" multiple="multiple"
                            class="form-control select2-hidden-accessible" data-select2-id="modalidad"
                            tabindex="-1" aria-hidden="true">
                        {#                        <option value="">Seleccione</option> #}
                        {% for item2 in modalidades %}
                            <option value="{{ item2.id }}">{{ item2.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 form-group" style="text-align: right">
                    <button class="btn btn-primary">Asociar</button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
        <hr>
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Logo</th>
                    <th>Nombre</th>
                    <th>Centro rector</th>
                    <th>Categoría de acreditación</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td width="1%">
                            <a
                                    href="{% if item.institucion.logo != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/institucion/logo/{{ item.institucion.logo }} {% else %} /assets/images/usuario.png {% endif %}"
                                    target="_blank">
                                <img src="{% if item.institucion.logo != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/institucion/logo/{{ item.institucion.logo }}{% else %} /assets/images/usuario.png {% endif %}"
                                     style="width: 45px;height: 45px; object-fit: cover">
                            </a>
                        </td>
                        <td>({{ item.institucion.siglas | default('-') }}) {{ item.institucion.nombre }}</td>
                        <td width="10%" class="-text-center">
                            {% if item.institucion.id == solicitudProgramaAcademico.centroRector.id %}
                                <span class="ms-status -active">Si</span>
                            {% else %}
                                <span class="ms-status">No</span>
                            {% endif %}
                        </td>
                        <td>
                            <select id="categoria_acreditacion_{{ item.id }}_{{ item.institucion.id }}_{{ solicitudProgramaAcademico.id }}"
                                    name="categoria_acreditacion_{{ item.id }}_{{ item.institucion.id }}_{{ solicitudProgramaAcademico.id }}"
                                    prop="id_{{ item.id }}">
                                <option value="">Seleccione</option>
                                {% for resp in categoriasAcreditacion %}
                                    <option {% if resp.id == item.categoriaAcreditacion.id | default('') %} selected {% endif %}
                                            value="{{ resp.id }}">{{ resp.nombre }} </option>
                                {% endfor %}

                            </select>

                        </td>
                        {#                        <td width="15%">{% if item.institucion.id == solicitudProgramaAcademico.centroRector.id %}{{ solicitudProgramaAcademico.categoriaAcreditacion.nombre | default('') }} {% else %} {{ item.categoriaAcreditacion.nombre | default('') }} {% endif %}</td> #}

                        <td width="15%" class="text-center">
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_solicitud_programa_academico_aprobado_eliminar_universidad', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('select[id*=categoria_acreditacion_]').change(function (e) {
            HoldOn.open({
                theme: "sk-cube-grid",
                message: 'Por favor espere...',
                textColor: "white"
            });
            var arr = $(this)[0].name.split('_');
            console.log();
            var solicitud = arr[4];
            var id_asociacion = arr[2];
            var institucion = arr[3];
            var id_categoria_acreditacion = $(this).val();


            $.post("{{ path('app_solicitud_programa_academico_aprobar_guardar_cambio_categoria_acreditacion') }}",
                {
                    solicitudProgramaAcademico: solicitud,
                    institucion: institucion,
                    id: id_asociacion,
                    categoriaAcreditacion: id_categoria_acreditacion
                },
                function (data) {
                    if (data.status == 200) {
                        HoldOn.close()
                        toastr.success("El elemento ha sido guardado satisfactoriamente.");
                    } else {
                        HoldOn.close()
                        toastr.error(data.message);
                    }
                });

        });

    </script>
{% endblock %}