{% extends 'baseAdmin.html.twig' %}

{% block title %}Asignar universidades{% endblock %}
{% block stylesheets %}
    <style>
        #map {
            height: 350px;
        }
    </style>

{% endblock %}
{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">
                <h3 class="card-title text-bold text-gray">Asignar universidades</h3>
            </div>
        </div>
        {{ include('modules/pregrado/solicitud_programa_academico_aprobado/detail.html.twig', { 'item': solicitudProgramaAcademico, 'format':'col3' }) }}
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.institucion) }}
                    {{ form_widget(form.institucion) }}
                    {{ form_errors(form.institucion) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    <button style="margin-top: 4%" class="btn btn-primary">Asociar</button>
                </div>
            </div>
        </div>


        {{ form_end(form) }}
        <hr>
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Logo</th>
                    <th>Nombre</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td width="1%">
                            <a
                                    href="{% if item.institucion.logo != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/institucion/logo/{{ item.institucion.logo }} {% else %} /assets/images/usuario.png {% endif %}"
                                    target="_blank">
                                <img src="{% if item.institucion.logo != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/institucion/logo/{{ item.institucion.logo }}{% else %} /assets/images/usuario.png {% endif %}"
                                     style="width: 45px;height: 45px; object-fit: cover">
                            </a>
                        </td>
                        <td>({{ item.institucion.siglas | default('-') }}) {{ item.institucion.nombre }}</td>

                        <td width="15%" class="text-center">
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_solicitud_programa_academico_aprobado_eliminar_universidad', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script>


    </script>
{% endblock %}