{% extends 'baseAdmin.html.twig' %}

{% block title %}Solicitudes de programas académicos aprobados{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de solicitudes de programas académicos aprobados</h3>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Programa académico</th>
                    <th>Tipo de programa académico</th>
                    <th>Organismo demandante</th>
                    <th>Fecha de aprobación</th>
                    <th>Centro rector</th>
                    <th>Duración del curso diurno</th>
                    <th>Duración del curso por encuentro</th>
                    <th>Estado</th>

                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.tipoProgramaAcademico.nombre | default('') }}</td>
                        <td>{{ item.organismoDemandante.nombre | default('') }}</td>
                        {% if item.fechaAprobacion is not null %}
                            <td>{{ item.fechaAprobacion | date('d/m/Y') }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td></td>
                        <td>{{ item.duracionCursoDiurno | default('') }} años</td>
                        <td>{{ item.duracionCursoPorEncuentro | default('') }} años</td>
                        <td>{{ item.estadoProgramaAcademico.nombre | default('') }}</td>
                        <td width="20%" class="text-center">
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_solicitud_programa_academico_aprobado_detail', {'id' : item.id}) }}"
                                    data-title="Detalles de la solicitud de programa académico aprobada">
                                <i class="fa fa-eye "></i>
                            </button>

                            {% if item.estadoProgramaAcademico.id == 2 %}
                                <a title="Asociar universidades en que se estudia "
                                   href="{{ path('app_solicitud_programa_academico_aprobado_asignar_universidad', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-university"></i>
                                </a>

                                <a title="Asociar comisión nacional"
                                   href="{{ path('app_solicitud_programa_academico_aprobado_asignar_comision', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-user-cog"></i>
                                </a>
                                <a title="Descargar carta de aprobación" target="_blank" class="btn btn-outline-primary"
                                   href="{{ app.request.getSchemeAndHttpHost() }}/uploads/pregrado/carta_aprobacion/{{ item.cartaAprobacion }}">
                                    <i
                                            class="fa fa-file-download"></i>
                                </a>
                            {% endif %}

                            {% if item.estadoProgramaAcademico.id == 4 %}
                                <a title="Asociar universidades en que se estudia "
                                   href="{{ path('app_solicitud_programa_academico_aprobado_asignar_universidad', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-university"></i>
                                </a>
                                <a title="Asociar comisión nacional"
                                   href="{{ path('app_solicitud_programa_academico_aprobado_asignar_comision', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-user-cog"></i>
                                </a>

                                <a title="Asociar plan de estudio"
                                   href="{{ path('app_solicitud_programa_academico_aprobado_asignar_plan_estudio', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-book-reader"></i>
                                </a>
                                <a title="Descargar carta de aprobación" target="_blank" class="btn btn-outline-primary"
                                   href="{{ app.request.getSchemeAndHttpHost() }}/uploads/pregrado/carta_aprobacion/{{ item.cartaAprobacion }}">
                                    <i
                                            class="fa fa-file-download"></i>
                                </a>
                            {% endif %}

                            {% if item.estadoProgramaAcademico.id == 5 %}
                                <a title="Asociar universidades en que se estudia "
                                   href="{{ path('app_solicitud_programa_academico_aprobado_asignar_universidad', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-university"></i>
                                </a>
                                <a title="Asociar comisión nacional"
                                   href="{{ path('app_solicitud_programa_academico_aprobado_asignar_comision', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-user-cog"></i>
                                </a>

                                <a title="Asociar plan de estudio"
                                   href="{{ path('app_solicitud_programa_academico_aprobado_asignar_plan_estudio', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-book-reader"></i>
                                </a>
                                <a title="Reabrir programa académico"
                                   href="{{ path('app_solicitud_programa_academico_aprobado_reabrir', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-bacon"></i>
                                </a>
                                <a title="Desactivar programa académico"
                                   href="{{ path('app_solicitud_programa_academico_aprobado_desactivar', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-deaf"></i>
                                </a>
                                <a title="Descargar carta de aprobación" target="_blank" class="btn btn-outline-primary"
                                   href="{{ app.request.getSchemeAndHttpHost() }}/uploads/pregrado/carta_aprobacion/{{ item.cartaAprobacion }}">
                                    <i
                                            class="fa fa-file-download"></i>
                                </a>
                                <a title="Descargar plan de estudio" target="_blank" class="btn btn-outline-primary"
                                   href="{{ app.request.getSchemeAndHttpHost() }}/uploads/pregrado/plan_estudio/{{ item.plan_estudio }}">
                                    <i
                                            class="fa fa-file-download"></i>
                                </a>
                            {% endif %}

                            {% if item.estadoProgramaAcademico.id == 6 %}
                                <a title="Descargar plan de estudio" target="_blank" class="btn btn-outline-primary"
                                   href="{{ app.request.getSchemeAndHttpHost() }}/uploads/pregrado/plan_estudio/{{ item.plan_estudio }}">
                                    <i
                                            class="fa fa-file-download"></i>
                                </a>
                                <a title="Descargar carta de aprobación" target="_blank" class="btn btn-outline-primary"
                                   href="{{ app.request.getSchemeAndHttpHost() }}/uploads/pregrado/carta_aprobacion/{{ item.cartaAprobacion }}">
                                    <i
                                            class="fa fa-file-download"></i>
                                </a>
                            {% endif %}

                            {% if item.estadoProgramaAcademico.id == 7 %}
                                <a title="Desactivar programa académico"
                                   href="{{ path('app_solicitud_programa_academico_aprobado_desactivar', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-deaf"></i>
                                </a>
                                <a title="Descargar plan de estudio" target="_blank" class="btn btn-outline-primary"
                                   href="{{ app.request.getSchemeAndHttpHost() }}/uploads/pregrado/plan_estudio/{{ item.plan_estudio }}">
                                    <i
                                            class="fa fa-file-download"></i>
                                </a>
                                <a title="Descargar carta de aprobación" target="_blank" class="btn btn-outline-primary"
                                   href="{{ app.request.getSchemeAndHttpHost() }}/uploads/pregrado/carta_aprobacion/{{ item.cartaAprobacion }}">
                                    <i
                                            class="fa fa-file-download"></i>
                                </a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}


