{% extends 'baseAdmin.html.twig' %}

{% block title %}Modificar comisión nacional{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Modificar comisión nacional</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <div class="col-4 form-group">
                    {{ form_label(form.activo) }}
                    {{ form_widget(form.activo) }}
                    {{ form_errors(form.activo) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 form-group">
                    {{ form_label(form.descripcion) }}
                    {{ form_widget(form.descripcion) }}
                    {{ form_errors(form.descripcion) }}
                </div>
            </div>
        </div>
        <h6 style="padding-left: 1%" class="mb-0"><b><p style="font-size: 20px; font-weight: bold; margin-top: 5px;">
                    Miembros</p>
            </b></h6>
        <hr style="margin-bottom: 5px;padding-left: 1%">
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th></th>
                    <th>Foto</th>
                    <th>Nombre y apellidos</th>
                    <th>Rol</th>

                </tr>
                </thead>
                <tbody>
                {% for item in personas %}
                    <tr id="tr_{{ item.id }}">
                        <td width="1%" style="width: 2%">{{ loop.index }}</td>
                        <td width="1%" style="width: 4%"><input type="checkbox" name="asignados_{{ item.id }}"
                                                                id="asignados_{{ item.id }}"
                                                                value="{{ item.id }}"></td>
                        <td style="width: 3%"><a
                                    href="{% if item.foto != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/personas/{{ item.foto }} {% else %} /assets/images/usuario.png {% endif %}"
                                    target="_blank">
                                <img src="{% if item.foto != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/personas/{{ item.foto }}{% else %} /assets/images/usuario.png {% endif %}"
                                     class="img-circle" alt="{{ item.primerNombre }}"
                                     style="width: 40px;height: 40px; object-fit: cover">
                            </a></td>
                        <td>{{ item.primerNombre ~ ' ' ~ item.segundoNombre ~' '~ item.primerApellido ~ ' ' ~ item.segundoApellido }}</td>
                        <td>
                            <select id="asignados_{{ item.id }}_rol"
                                    name="asignados_{{ item.id }}_rol">
                                <option value="">Seleccione</option>
                                {% for resp in rolComision %}
                                    <option value="{{ resp.id }}">{{ resp.nombre }} </option>
                                {% endfor %}

                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <button class="btn btn-primary" id="btn-asociar">Asociar</button>
        </div>
        <div class="card-body">
            <table id="tbl-asociados" class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Foto</th>
                    <th>Nombre y apellidos</th>
                    <th>Rol</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in asignadas %}
                    <tr>
                        <td width="1%" style="width: 2%">{{ loop.index }}</td>
                        <td width="5%" style="width: 3%"><a
                                    href="{% if item.foto != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/personas/{{ item.foto }} {% else %} /assets/images/usuario.png {% endif %}"
                                    target="_blank">
                                <img src="{% if item.foto != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/personas/{{ item.foto }}{% else %} /assets/images/usuario.png {% endif %}"
                                     class="img-circle" alt="{{ item.primerNombre }}"
                                     style="width: 40px;height: 40px; object-fit: cover">
                            </a></td>
                        <td>{{ item.primerNombre ~ ' ' ~ item.segundoNombre ~' '~ item.primerApellido ~ ' ' ~ item.segundoApellido }}</td>
                        <td>{{ item.rolComision | default('') }}</td>

                        <td style="width: 3%" class="text-center">
                            <a title="Eliminar" class="btn btn-outline-danger elementRemove"
                               data-url="{{ path('app_comision_nacional_eliminar_persona_asignada_modificar', {'id': item.id}) }}"
                               data-title=""
                               data-content="¿Está seguro que desea realizar la acción?" type="button"><i
                                        class="fa fa-trash"></i></a>
                        </td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_comision_nacional_index') }}" data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $('#btn-asociar').click(function (e) {
            e.preventDefault();
            var flag = true;
            if ($('input[id*=asignados_]').length > 0) {
                var arrayId = [];
                $('input[id*=asignados_]').each(function (item, element) {
                    if (element.checked) {
                        var obj = new Object();
                        obj.id_persona = element.value;
                        var rol = $('#' + element.id + '_rol').val();
                        if (rol != "") {
                            obj.id_rol = rol;
                            obj.nombre_rol = $('#' + element.id + '_rol option:selected').text();
                            arrayId.push(obj);

                        } else {
                            flag = false;
                            toastr.warning("El rol es obligatorio por cada miembro de la comisión.");
                            return;
                        }
                    }
                });


                if (arrayId.length > 0 && flag) {
                    HoldOn.open({
                        theme: "sk-cube-grid",
                        message: 'Por favor espere...',
                        textColor: "white"
                    });
                    $.post("{{ path('app_comision_nacional_asociar_persona_modificar') }}",
                        {
                            arrayId: arrayId
                        },
                        function (data) {
                            HoldOn.close()
                            $(window).attr('location', "{{ path('app_comision_nacional_modificar', {'id': comision.id}) }}")
                        });
                } else {
                    HoldOn.close()
                    if (flag) {
                        toastr.warning("Debe de seleccionar al menos un miembro.");
                    }

                }
            }
        });
    </script>
{% endblock %}