<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview"
        role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        {% if hasRoles('ROLE_GEST_SOLPROGRAM') or hasRoles('ROLE_GEST_GRADO_CIENTIFICO') %}
            <li class="nav-item">
                <a href="#"
                   class="nav-link nav-link-menu">
                    <i class="nav-icon fas fa-book-open"></i>
                    <p>
                        Programas
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if hasRoles('ROLE_GEST_SOLPROGRAM') %}
                        <li class="nav-item">
                            <a href="{{ path('app_solicitud_programa_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Solicitudes de programas</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasRoles('ROLE_GEST_GRADO_CIENTIFICO') %}
                        <li class="nav-item">
                            <a href="{{ path('app_posgrado_grados_cientificos_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Doctorados</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasRoles('ROLE_GEST_FORMACION_ACADEMICA') %}
                        <li class="nav-item">
                            <a href="{{ path('app_posgrado_formacion_academica_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Maestrías y Especialidades</p>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </li>
        {% endif %}

        {% if hasRoles('ROLE_GEST_RAMCIENC') or hasRoles('ROLE_GEST_ROLESPOS')  or hasRoles('ROLE_GEST_TIPPROGRAM') %}
            <li class="nav-item">
                <a href="#"
                   class="nav-link nav-link-menu">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                        Configuración
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if  hasRoles('ROLE_GEST_TIPPROGRAM') %}
                        <li class="nav-item">
                            <a href="{{ path('app_tipo_programa_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Tipos de programas</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasRoles('ROLE_GEST_RAMCIENC') %}
                        <li class="nav-item">
                            <a href="{{ path('app_rama_ciencia_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Ramas de la ciencia</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if  hasRoles('ROLE_GEST_ROLESPOS') %}
                        <li class="nav-item">
                            <a href="{{ path('app_rol_comision_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Roles</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if  hasRoles('ROLE_GEST_TIP_SOLICITUD_POST') %}
                        <li class="nav-item">
                            <a href="{{ path('app_tipo_solicitud_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Tipos de solicitudes</p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if hasRoles('ROLE_GEST_COPEP') or hasRoles('ROLE_GEST_COMISION') or hasRoles('ROLE_GEST_CENTRO_AUTORIZADO') %}
            <li class="nav-item">
                <a href="#"
                   class="nav-link nav-link-menu">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Gobernanza
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if hasRoles('ROLE_GEST_COPEP') %}
                        <li class="nav-item">
                            <a href="{{ path('app_copep_index') }}"
                               class="nav-link nav-link-menu">
                                <p>COPEP</p>
                            </a>
                        </li>
                    {% endif %}

                    {% if  hasRoles('ROLE_GEST_COMISION') %}
                        <li class="nav-item">
                            <a href="{{ path('app_comision_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Comisiones</p>
                            </a>
                        </li>
                    {% endif %}

                    {% if hasRoles('ROLE_GEST_CENTRO_AUTORIZADO') %}
                        <li class="nav-item">
                            <a href="{{ path('app_postgrado_centro_autorizado_postgrado_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Centros Autorizados (Maestrías y Especialidades) </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasRoles('ROLE_GEST_FORMACION_DOCTORES') %}
                        <li class="nav-item">
                            <a href="{{ path('app_postgrado_formacion_doctores_index') }}"
                               class="nav-link nav-link-menu">
                                <p>IAFD (Formación de Doctores)</p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if hasRoles('ROLE_GEST_REPORTE_GRADO_CIENTIFICO') or hasRoles('ROLE_GEST_REPORTE_FORMACION_ACADEMICA') %}
            <li class="nav-item">
                <a href="#"
                   class="nav-link nav-link-menu">
                    <i class="nav-icon fas fa-file-signature"></i>
                    <p>
                        Reportes
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if  hasRoles('ROLE_GEST_REPORTE_GRADO_CIENTIFICO') %}
                        <li class="nav-item">
                            <a href="{{ path('app_reporte_postgrado_grado_cientifico_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Doctorados</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if  hasRoles('ROLE_GEST_REPORTE_FORMACION_ACADEMICA') %}
                        <li class="nav-item">
                            <a href="{{ path('app_reporte_postgrado_formacion_academica_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Maestrías y Especialidades</p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>
</nav>