<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview"
        role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        {% if hasRoles('ROLE_RRHH_REPORTE_AE2') or  hasRoles('ROLE_RRHH_REPORTE_AE3') %}
            <li class="nav-item">
                <a href="#"
                   class="nav-link nav-link-menu">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        Estadística
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if hasRoles('ROLE_RRHH_REPORTE_AE2') %}
                        <li class="nav-item">
                            <a href="{{ path('app_rrhh_reporte_ae2_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Modelo 223.216 (I) (AE2)
                                </p>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasRoles('ROLE_RRHH_REPORTE_AE3') %}
                        <li class="nav-item">
                            <a href="{{ path('app_rrhh_reporte_ae3_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Modelo 223.216 (II) (AE3)
                                </p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}


        {% if hasRoles('ROLE_RRHH_REPORTE_AE2_CONSOLIDADO') or hasRoles('ROLE_RRHH_REPORTE_AE2_MES')  or hasRoles('ROLE_RRHH_REPORTE_AE3_CONSOLIDADO') or hasRoles('ROLE_RRHH_REPORTE_1_4') %}
            <li class="nav-item">
                <a href="#"
                   class="nav-link nav-link-menu">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                        Reportes
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if hasRoles('ROLE_RRHH_REPORTE_AE2_CONSOLIDADO') %}
                        <li class="nav-item">
                            <a href="{{ path('app_rrhh_reporte_ae2_consolidado_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Modelo 223.216 (I) (AE2)-IES</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasRoles('ROLE_RRHH_REPORTE_AE2_MES') %}
                        <li class="nav-item">
                            <a href="{{ path('app_rrhh_reporte_ae2_mes_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Modelo 223.216 (I) (AE2)-MES</p>
                            </a>
                        </li>
                    {% endif %}

                    {% if hasRoles('ROLE_RRHH_REPORTE_AE3_CONSOLIDADO') %}
                        <li class="nav-item">
                            <a href="{{ path('app_rrhh_reporte_ae3_consolidado_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Modelo 223.216 (II) (AE3)-IES</p>
                            </a>
                        </li>
                    {% endif %}

                    {% if hasRoles('ROLE_RRHH_REPORTE_1_4') %}
                        <li class="nav-item">
                            <a href="{{ path('app_rrhh_reporte_1_4_index') }}"
                               class="nav-link nav-link-menu">
                                <p>223.216 (II) (AE3)-Tabla1.4</p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}


        {% if hasRoles('ROLE_RRHH_GEST_CAT_DOC') or hasRoles('ROLE_RRHH_GEST_ESPECIALIDAD') %}
            <li class="nav-item">
                <a href="#"
                   class="nav-link nav-link-menu">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                        Configuración
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if hasRoles('ROLE_RRHH_GEST_CAT_DOC') %}
                        <li class="nav-item">
                            <a href="{{ path('app_rrhh_categoria_docente_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Categorías docentes especiales</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasRoles('ROLE_RRHH_GEST_ESPECIALIDAD') %}
                        <li class="nav-item">
                            <a href="{{ path('app_rrhh_especialidad_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Especialidades</p>
                            </a>
                        </li>
                    {% endif %}
                </ul>

            </li>
        {% endif %}
    </ul>
</nav>