<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-legacy nav-child-indent" data-widget="treeview"
        role="menu"
        data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        {% if hasRoles('ROLE_GEST_PLAN_MISION') or hasRoles('ROLE_GEST_FICHA_SALIDA') %}
            <li class="nav-item">
                <a href="#"
                   class="nav-link nav-link-menu">
                    <i class="nav-icon fa fa-address-book"></i>
                    <p>
                        Tr치mites
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>

                {% if hasRoles('ROLE_GEST_FICHA_SALIDA') %}
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('app_plan_mision_detalles_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Plan de misi칩n</p>
                            </a>
                        </li>
                    </ul>
                {% endif %}

                {% if hasRoles('ROLE_GEST_FICHA_SALIDA') %}
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('app_ficha_salida_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Fichas de salida</p>
                            </a>
                        </li>
                    </ul>
                {% endif %}
                {% if hasRoles('ROLE_GEST_DOCUMENTO_SALIDA') %}
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('app_documento_salida_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Documentos de salida</p>
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </li>
        {% endif %}
        {% if hasRoles('ROLE_GEST_TIPO_PASAPORTE') or hasRoles('ROLE_GEST_INST_EXTRANJERA') or hasRoles('ROLE_GEST_CONCEPTO_SALIDA') %}
            <li class="nav-item">
                <a href="#"
                   class="nav-link nav-link-menu">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                        Configuraci칩n
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    {% if hasRoles('ROLE_GEST_PLAN_MISION') %}
                        <li class="nav-item">
                            <a href="{{ path('app_plan_mision_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Plan de misi칩n</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasRoles('ROLE_GEST_CONCEPTO_SALIDA') %}
                        <li class="nav-item">
                            <a href="{{ path('app_concepto_salida_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Conceptos de salida</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_estado_ficha_salida_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Estados de salida</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasRoles('ROLE_GEST_TIPO_PASAPORTE') %}
                        <li class="nav-item">
                            <a href="{{ path('app_tipo_pasaporte_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Tipos de pasaporte</p>
                            </a>
                        </li>
                    {% endif %}
                    {% if hasRoles('ROLE_GEST_INST_EXTRANJERA') %}
                        <li class="nav-item">
                            <a href="{{ path('app_institucion_extranjera_index') }}"
                               class="nav-link nav-link-menu">
                                <p>Instituciones extranjeras</p>
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </li>
        {% endif %}
    </ul>
</nav>