{% extends 'baseAdmin.html.twig' %}

{% block title %}Modificar teléfono celular{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Modificar teléfono celular</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.marca) }}
                    {{ form_widget(form.marca) }}
                    {{ form_errors(form.marca) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.modelo) }}
                    {{ form_widget(form.modelo) }}
                    {{ form_errors(form.modelo) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.sistemaOperativo) }}
                    {{ form_widget(form.sistemaOperativo) }}
                    {{ form_errors(form.sistemaOperativo) }}
                </div>
            </div>

        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_telefono_celular_index') }}"
               data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
    </script>
{% endblock %}