{% extends 'baseAdmin.html.twig' %}

{% block title %}Adicionar IAFD (Formación de Doctores){% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Adicionar IAFD (Formación de Doctores)</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-6 text-gray">
                    <h5>
                        <b>
                            <i class="fa fa-university  "></i>
                        </b> ({{ entidad.siglas | default('') }}) {{ entidad.nombre | default('') }}
                    </h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.categoriaEstructura) }}
                    {{ form_widget(form.categoriaEstructura) }}
                    {{ form_errors(form.categoriaEstructura) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.estructura) }}
                    {{ form_widget(form.estructura) }}
                    {{ form_errors(form.estructura) }}
                </div>
            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_postgrado_formacion_doctores_index') }}"
               data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('#entidad_categoriaEstructura').on('change', function () {
            console.log($(this).val());
            if ($('#entidad_categoriaEstructura').val() != "") {
                HoldOn.open({
                    theme: "sk-cube-grid",
                    message: 'Por favor espere...',
                    textColor: "white"
                });
                var url = "{{ path('app_estructura_dado_categoria', {'id':'idP'}) }}";
                url = url.replace('idP', $(this).val());
                $.get(url, function (data) {
                    $('#entidad_estructura option').remove();
                    $('#entidad_estructura').append(new Option('Seleccione', ""));
                    for (var i = 0; i < data.length; i++) {
                        $('#entidad_estructura').append(new Option(data[i].nombre, data[i].id));
                    }
                    HoldOn.close()
                });
            } else {
                $('#entidad_estructura option').remove();
                $('#entidad_estructura').append(new Option('Seleccione', ""));

                $('#plantilla_responsabilidad option').remove();
                $('#plantilla_responsabilidad').append(new Option('Seleccione', ""));
            }
        });

    </script>
{% endblock %}