{% set meses = [
    '', 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
    'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
] %}
<div class="row mb-4">
    <div class="col-6">
        <h5><b>Entidad:</b> {{ item.entidad.nombre }}</h5>
    </div>
    <div class="col-3">
        <h5><b>Mes:</b> {{ meses[item.mes]|capitalize }}</h5>
    </div>
    <div class="col-3">
        <h5><b>Año:</b> {{ item.anno }}</h5>
    </div>
</div>

<table class="table table-bordered">
    <thead class="thead-light text-center">
    <tr>
        <th>Indicadores</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1.- Total Plantilla Aprobada</td>
        <td class="text-center">{{ item.totalPlantillaAprobada | default('') }}</td>
    </tr>
    <tr>
        <td>2.- Total Plantilla Cubierta</td>
        <td class="text-center">{{ item.totalPlantillaCubierta | default('') }}</td>
    </tr>
    <tr>
        <td>3.- Total General de Contratos (4+7+14)</td>
        <td class="text-center">{{ item.totalGeneralContratos | default('') }}</td>
    </tr>
    <tr>
        <td>4.- Total de Contratos de Profesores por tiempo determinado</td>
        <td class="text-center">{{ item.totalContratosProfesoresTiempoDeterminado | default('') }}</td>
    </tr>
    <tr>
        <td>5.- De ellos: a tiempo completo</td>
        <td class="text-center">{{ item.profesoresTiempoCompleto | default('') }}</td>
    </tr>
    <tr>
        <td>6.- Total de Contratos No Docentes (7+14)</td>
        <td class="text-center">{{ item.totalContratosNoDocentes | default('') }}</td>
    </tr>
    <tr>
        <td>7.- Contratos No Docentes con respaldo de plazas (8 a 13)</td>
        <td class="text-center">{{ item.contratosNoDocentesConRespaldo | default('') }}</td>
    </tr>
    <tr>
        <td>8.- De ellos: por sustitución</td>
        <td class="text-center">{{ item.contratosPorSustitucion | default('') }}</td>
    </tr>
    <tr>
        <td>9.- Período de Prueba</td>
        <td class="text-center">{{ item.periodoPrueba | default('') }}</td>
    </tr>
    <tr>
        <td>10.- Serenos y Auxiliares de Limpieza</td>
        <td class="text-center">{{ item.serenosAuxiliaresLimpieza | default('') }}</td>
    </tr>
    <tr>
        <td>11.- Labores Agrícolas</td>
        <td class="text-center">{{ item.laboresAgricolas | default('') }}</td>
    </tr>
    <tr>
        <td>12.- Jubilados</td>
        <td class="text-center">{{ item.jubilados | default('') }}</td>
    </tr>
    <tr>
        <td>13.- Otros</td>
        <td class="text-center">{{ item.otrosConRespaldo | default('') }}</td>
    </tr>
    <tr>
        <td>14.- Contratos No Docentes sin respaldo de plazas (15 a 19)</td>
        <td class="text-center">{{ item.contratosNoDocentesSinRespaldo | default('') }}</td>
    </tr>
    <tr>
        <td>15.- De ellos: Serenos y Auxiliares de Limpieza</td>
        <td class="text-center">{{ item.serenosAuxiliaresLimpiezaSinRespaldo | default('') }}</td>
    </tr>
    <tr>
        <td>16.- Labores Agrícolas</td>
        <td class="text-center">{{ item.laboresAgricolasSinRespaldo | default('') }}</td>
    </tr>
    <tr>
        <td>17.- Jubilados</td>
        <td class="text-center">{{ item.jubiladosSinRespaldo | default('') }}</td>
    </tr>
    <tr>
        <td>18.- Ejecución de Obra</td>
        <td class="text-center">{{ item.ejecucionObra | default('') }}</td>
    </tr>
    <tr>
        <td>19.- Otros</td>
        <td class="text-center">{{ item.otrosSinRespaldo | default('') }}</td>
    </tr>
    <tr>
        <td>20.- Reserva Científica en Preparación</td>
        <td class="text-center">{{ item.reservaCientificaPreparacion | default('') }}</td>
    </tr>
    <tr>
        <td>21.- Recién Graduados en Preparación (Nivel Sup.)</td>
        <td class="text-center">{{ item.recienGraduadosPreparacion | default('') }}</td>
    </tr>
    <tr>
        <td>22.- Reserva Dirección Provincial de Trabajo</td>
        <td class="text-center">{{ item.reservaDireccionProvincialTrabajo | default('') }}</td>
    </tr>
    <tr>
        <td>23.- Técnicos Medios en Preparación</td>
        <td class="text-center">{{ item.tecnicosMediosPreparacion | default('') }}</td>
    </tr>
    <tr>
        <td>24.- Del total de estudiantes de la Universidad de CD contratados por tiempo determinado</td>
        <td class="text-center">{{ item.totalEstudiantesUniversidadContratados | default('') }}</td>
    </tr>
    <tr>
        <td>25.- Del total de estudiantes de CD contratados, cifras como Auxiliar Técnico de la Docencia</td>
        <td class="text-center">{{ item.estudiantesAuxiliaresTecnicosDocencia | default('') }}</td>
    </tr>
    <tr>
        <td>26.- Del total de estudiantes de CD contratados, cifras en cargos No Docentes</td>
        <td class="text-center">{{ item.estudiantesCargosNoDocentes | default('') }}</td>
    </tr>
    </tbody>
</table>

