{% extends 'baseAdmin.html.twig' %}

{% block title %}Portada Pregrado{% endblock %}
{% block stylesheets %}
    <style>
        @media (min-width: 1200px) and (max-width: 1400px) {
            .c {
                min-width: 33.3% !important;
            }
        }

        @media (min-width: 992px) and (max-width: 1400px) {
            .p {
                min-width: 33.3% !important;
            }
        }

        .bg-blue {
            background-color: #0E375F !important;
        }

    </style>
{% endblock %}
{% block body %}

    <section class="content">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h5 class="m-0"><b>Programas de Formación de Pregrado</b></h5>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            {#                            <li class="breadcrumb-item"><a href="#">Home</a></li> #}
                            {#                            <li class="breadcrumb-item active">Dashboard v1</li> #}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-2">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Solicitudes</span>
                            <h3><span class="info-box-number">{{ total_solicitudes }}</span></h3>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-sm-6 col-md-2">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-thumbs-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Aprobados</span>
                            <h3><span class="info-box-number">{{ total_aprobado }}</span></h3>
                        </div>

                    </div>

                </div>


                <div class="clearfix hidden-md-up"></div>
                <div class="col-12 col-sm-6 col-md-2">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-trash"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Rechazados</span>
                            <h3><span class="info-box-number">{{ programas_rechazados }}</span></h3>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-2">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-recycle"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Reabierto</span>
                            <h3><span class="info-box-number">{{ programas_reabiertos }}</span></h3>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-2">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-blue elevation-1"><i class="fas fa-deaf"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Desactivado</span>
                            <h3><span class="info-box-number">{{ programas_desactivados }}</span></h3>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-pink elevation-1"><i class="fas fa-adjust"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Extintos</span>
                            <h3><span class="info-box-number">{{ programas_extintos }}</span></h3>
                        </div>
                    </div>
                </div>
            </div>
            {#            Seccion de graficos #}
            <div class="row">
                <div class="col-md-6">
                    {# Carreras Universitarias #}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"><strong>
                                    <span class="float-left badge bg-success"></span>&nbsp;&nbsp;Carreras Universitarias</strong>
                            </h5>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 form-group">
                                    <p class="text-center">
                                        <strong>Organismo Formador</strong>
                                    </p>
                                    <div id="container_carrera_organismo_formador"></div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 form-group">
                                    <p class="text-center">
                                        <strong>Organismo Demandante</strong>
                                    </p>

                                    <div id="container_carrera_organismo_demandante"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">
                                        <strong> Rama de la Ciencia</strong>
                                    </p>
                                    {% for item in carrera_por_rama_ciencia %}
                                        <div class="progress-group">
                                            {{ item.nombre }}
                                            <span class="float-right"><b><span
                                                            class="float-left badge bg-{{ item.color }}">{{ item.total }}</span></b></span>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-{{ item.color }}"
                                                     style="width: {{ item.total  * 100 /  carreras_aprobadas }}%"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div style="margin-top: 12%" class="col-md-12">
                                    <div id="container_carrera"></div>
                                </div>
                                <div class="col-md-12">
                                    <p class="text-center">
                                        <strong>Tipo de curso</strong>
                                    </p>
                                    <div class="progress-group">
                                        Diurno
                                        <span class="float-right"><b><span
                                                        class="float-left badge bg-primary">{{ carrera_por_modalidad['diurno'] }}</span></b> </span>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-primary"
                                                 style="width:{% if carreras_aprobadas>0 %} {{ (carrera_por_modalidad['diurno'] | default(0)  * 100) / carreras_aprobadas }}{% else %} 0 {% endif %}%"></div>
                                        </div>
                                    </div>
                                    <div class="progress-group">
                                        A Distancia
                                        <span class="float-right"><b><span
                                                        class="float-left badge bg-danger">{{ carrera_por_modalidad['adistancia'] }}</span></b> </span>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-danger"
                                                 style="width:{% if carreras_aprobadas>0 %} {{ carrera_por_modalidad['adistancia'] | default(0)  * 100 /  carreras_aprobadas }}{% else %} 0 {% endif %}%"></div>
                                        </div>
                                    </div>
                                    <div class="progress-group">
                                        <span class="progress-text">Por Encuentros</span>

                                        <span class="float-right"><b><span
                                                        class="float-left badge bg-success">{{ carrera_por_modalidad['por_encuentro'] }}</span></b> </span>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success"
                                                 style="width:{% if carreras_aprobadas>0 %} {{ carrera_por_modalidad['por_encuentro'] | default(0)  * 100 /  carreras_aprobadas }}{% else %} 0 {% endif %}%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="text-center">
                                <strong>Categoría de Acreditación</strong>
                            </p>
                            <div class="row">
                                {% for item in carrera_por_categoria_acreditacion %}
                                    <div class="col-sm-4 col-12">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-{{ item.color }}"> </i> {{ (item.total | default(1)  * 100 /  carreras_aprobadas) | round(1, 'floor') }}%</span>
                                            <h5 class="description-header">{{ item.total | default(0) }}</h5>
                                            <span class="description-text">{{ item.nombre | default() }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    {# Programas de Formación de Ciclo Corto #}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title"><strong>
                                    <span class="float-left badge bg-success"></span>&nbsp;&nbsp;Programas de Formación de Ciclo Corto</strong>
                            </h5>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 form-group">
                                    <p class="text-center">
                                        <strong>Organismo Formador</strong>
                                    </p>
                                    <div id="container_ciclo_corto_organismo_formador"></div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 form-group">
                                    <p class="text-center">
                                        <strong>Organismo Demandante</strong>
                                    </p>

                                    <div id="container_ciclo_corto_organismo_demandante"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">
                                        <strong> Rama de la Ciencia</strong>
                                    </p>
                                    {% for item in ciclo_corto_por_rama_ciencia %}
                                        <div class="progress-group">
                                            {{ item.nombre }}
                                            <span class="float-right"><b><span
                                                            class="float-left badge bg-{{ item.color }}">{{ item.total }}</span></b></span>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-{{ item.color }}"
                                                     style="width: {{ item.total  * 100 /  ciclo_corto_aprobados }}%"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div style="margin-top: 12%" class="col-md-12">
                                    <div id="container_ciclo_corto"></div>
                                </div>
                                <div class="col-md-12">
                                    <p class="text-center">
                                        <strong>Tipo de curso</strong>
                                    </p>
                                    <div class="progress-group">
                                        Diurno
                                        <span class="float-right"><b><span
                                                        class="float-left badge bg-primary">{{ ciclo_corto_por_modalidad['diurno'] }}</span></b> </span>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-primary"
                                                 style="width:{% if ciclo_corto_aprobados>0 %} {{ (ciclo_corto_por_modalidad['diurno'] | default(0)  * 100) / ciclo_corto_aprobados }}{% else %} 0 {% endif %}%"></div>
                                        </div>
                                    </div>
                                    <div class="progress-group">
                                        A Distancia
                                        <span class="float-right"><b><span
                                                        class="float-left badge bg-danger">{{ ciclo_corto_por_modalidad['adistancia'] }}</span></b> </span>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-danger"
                                                 style="width:{% if ciclo_corto_aprobados>0 %} {{ ciclo_corto_por_modalidad['adistancia'] | default(0)  * 100 /  ciclo_corto_aprobados }}{% else %} 0 {% endif %}%"></div>
                                        </div>
                                    </div>
                                    <div class="progress-group">
                                        <span class="progress-text">Por Encuentros</span>

                                        <span class="float-right"><b><span
                                                        class="float-left badge bg-success">{{ ciclo_corto_por_modalidad['por_encuentro'] }}</span></b> </span>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success"
                                                 style="width:{% if ciclo_corto_aprobados>0 %} {{ ciclo_corto_por_modalidad['por_encuentro'] | default(0)  * 100 /  ciclo_corto_aprobados }}{% else %} 0 {% endif %}%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="text-center">
                                <strong>Categoría de Acreditación</strong>
                            </p>
                            <div class="row">
                                {% for item in ciclo_corto_por_categoria_acreditacion %}
                                    <div class="col-sm-4 col-12">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-{{ item.color }}"> </i> {{ (item.total | default(1)  * 100 /  ciclo_corto_aprobados) | round(1, 'floor') }}%</span>
                                            <h5 class="description-header">{{ item.total | default(0) }}</h5>
                                            <span class="description-text">{{ item.nombre | default() }}</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {
            Highcharts.chart('container_carrera_organismo_formador', {
                chart: {
                    type: 'column'
                },
                title: {
                    align: 'left',
                    text: ' '
                },
                subtitle: {
                    align: 'left',
                    text: ''
                },
                accessibility: {
                    announceNewData: {
                        enabled: true
                    }
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: ''
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        }
                    },
                    enableMouseTracking: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> <br/>'
                },

                series: [
                    {
                        name: 'Carreras',
                        colorByPoint: true,
                        data: JSON.parse('{{ carrera_organismo_formador | raw }}')
                    }
                ],

            });
            Highcharts.chart('container_carrera_organismo_demandante', {
                chart: {
                    type: 'column'
                },
                title: {
                    align: 'left',
                    text: ' '
                },
                subtitle: {
                    align: 'left',
                    text: ''
                },
                accessibility: {
                    announceNewData: {
                        enabled: true
                    }
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: ''
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        }
                    },
                    enableMouseTracking: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> <br/>'
                },

                series: [
                    {
                        name: 'Carreras',
                        colorByPoint: true,
                        data: JSON.parse('{{ carrera_organismo_demandante | raw }}')
                    }
                ],

            });
            Highcharts.chart('container_carrera', {
                chart: {
                    type: 'column'
                },
                title: {
                    align: 'left',
                    text: 'Centro Rector'
                },
                subtitle: {
                    align: 'left',
                    text: ''
                },
                accessibility: {
                    announceNewData: {
                        enabled: true
                    }
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: ''
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        }
                    },
                    enableMouseTracking: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> <br/>'
                },

                series: [
                    {
                        name: 'Carreras',
                        colorByPoint: true,
                        data: JSON.parse('{{ carrera_por_centro_rector | raw }}')
                    }
                ],

            });


            Highcharts.chart('container_ciclo_corto', {
                chart: {
                    type: 'column'
                },
                title: {
                    align: 'left',
                    text: 'Centro Rector'
                },
                subtitle: {
                    align: 'left',
                    text: ''
                },
                accessibility: {
                    announceNewData: {
                        enabled: true
                    }
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: ''
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        }
                    },
                    enableMouseTracking: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> <br/>'
                },

                series: [
                    {
                        name: 'Programas de Formación de Ciclo Corto',
                        colorByPoint: true,
                        data: JSON.parse('{{ ciclo_corto_por_centro_rector | raw }}')
                    }
                ],

            });
            Highcharts.chart('container_ciclo_corto_organismo_formador', {
                chart: {
                    type: 'column'
                },
                title: {
                    align: 'left',
                    text: ' '
                },
                subtitle: {
                    align: 'left',
                    text: ''
                },
                accessibility: {
                    announceNewData: {
                        enabled: true
                    }
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: ''
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        }
                    },
                    enableMouseTracking: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> <br/>'
                },

                series: [
                    {
                        name: 'Programas de Formación de Ciclo Corto',
                        colorByPoint: true,
                        data: JSON.parse('{{ ciclo_corto_organismo_formador | raw }}')
                    }
                ],

            });
            Highcharts.chart('container_ciclo_corto_organismo_demandante', {
                chart: {
                    type: 'column'
                },
                title: {
                    align: 'left',
                    text: ' '
                },
                subtitle: {
                    align: 'left',
                    text: ''
                },
                accessibility: {
                    announceNewData: {
                        enabled: true
                    }
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: ''
                    }

                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        }
                    },
                    enableMouseTracking: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b> <br/>'
                },

                series: [
                    {
                        name: 'Programas de Formación de Ciclo Corto',
                        colorByPoint: true,
                        data: JSON.parse('{{ ciclo_corto_organismo_demandante | raw }}')
                    }
                ],

            });
        })

    </script>
{% endblock %}

