{% extends 'baseAdmin.html.twig' %}

{% block title %}Modificar ficha de salida{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Modificar ficha de salida</h3>

            </div>
        </div>
        {{ include('modules/personal/persona/partial.html.twig', { 'persona': persona }) }}
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.institucionCubana) }}
                    {{ form_widget(form.institucionCubana) }}
                    {{ form_errors(form.institucionCubana) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.pais) }}
                    {{ form_widget(form.pais) }}
                    {{ form_errors(form.pais) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.institucionExtranjera) }}
                    {{ form_widget(form.institucionExtranjera) }}
                    {{ form_errors(form.institucionExtranjera) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.provinciaExtranjera) }}
                    {{ form_widget(form.provinciaExtranjera) }}
                    {{ form_errors(form.provinciaExtranjera) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.conceptoSalida) }}
                    {{ form_widget(form.conceptoSalida) }}
                    {{ form_errors(form.conceptoSalida) }}
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-group">
                    {{ form_label(form.Objetivo) }}
                    {{ form_widget(form.Objetivo) }}
                    {{ form_errors(form.Objetivo) }}
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fechaSalidaPrevista) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaSalidaPrevista) }}
                        {{ form_errors(form.fechaSalidaPrevista) }}
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fechaRegresoPrevista) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaRegresoPrevista) }}
                        {{ form_errors(form.fechaRegresoPrevista) }}
                    </div>
                </div>
{#                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">#}
{#                    {{ form_label(form.fechaSalidaReal) }}#}
{#                    <div class="input-group">#}
{#                        <div class="input-group-prepend">#}
{#                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>#}
{#                        </div>#}
{#                        {{ form_widget(form.fechaSalidaReal) }}#}
{#                        {{ form_errors(form.fechaSalidaReal) }}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">#}
{#                    {{ form_label(form.fechaRegresoReal) }}#}
{#                    <div class="input-group">#}
{#                        <div class="input-group-prepend">#}
{#                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>#}
{#                        </div>#}
{#                        {{ form_widget(form.fechaRegresoReal) }}#}
{#                        {{ form_errors(form.fechaRegresoReal) }}#}
{#                    </div>#}
{#                </div>#}

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.tiempoEstancia) }}
                    {{ form_widget(form.tiempoEstancia) }}
                    {{ form_errors(form.tiempoEstancia) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.tipoPasaporte) }}
                    {{ form_widget(form.tipoPasaporte) }}
                    {{ form_errors(form.tipoPasaporte) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.numeroPasaporte) }}
                    {{ form_widget(form.numeroPasaporte) }}
                    {{ form_errors(form.numeroPasaporte) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fechaEmisionPasaporte) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaEmisionPasaporte) }}
                        {{ form_errors(form.fechaEmisionPasaporte) }}
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fechaCaducidadPasaporte) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaCaducidadPasaporte) }}
                        {{ form_errors(form.fechaCaducidadPasaporte) }}
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.requiereVisa) }}
                    {{ form_widget(form.requiereVisa) }}
                    {{ form_errors(form.requiereVisa) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.aprobadoFactoresIes) }}
                    {{ form_widget(form.aprobadoFactoresIes) }}
                    {{ form_errors(form.aprobadoFactoresIes) }}
                </div>
            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_ficha_salida_index') }}"
               data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#ficha_salida_fechaSalidaPrevista').val('{{ fichaSalida.fechaSalidaPrevista | date('d-m-Y') }}');
        $('#ficha_salida_fechaRegresoPrevista').val('{{ fichaSalida.fechaRegresoPrevista | date('d-m-Y') }}');
        {#$('#ficha_salida_fechaSalidaReal').val('{{ fichaSalida.fechaSalidaReal | date('d-m-Y') }}');#}
        {#$('#ficha_salida_fechaRegresoReal').val('{{ fichaSalida.fechaRegresoReal | date('d-m-Y') }}');#}
        $('#ficha_salida_fechaEmisionPasaporte').val('{{ fichaSalida.fechaEmisionPasaporte | date('d-m-Y') }}');
        $('#ficha_salida_fechaCaducidadPasaporte').val('{{ fichaSalida.fechaCaducidadPasaporte | date('d-m-Y') }}');

        $('#ficha_salida_fechaSalidaPrevista, #ficha_salida_fechaRegresoPrevista,' +
            '#ficha_salida_fechaEmisionPasaporte, ' +
            '#ficha_salida_fechaCaducidadPasaporte').datetimepicker({
            format: 'DD/MM/YYYY'
        });

    </script>
{% endblock %}