{% extends 'baseAdmin.html.twig' %}

{% block title %}Fichas de salida{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de fichas de salida</h3>
                <a title="Adicionar" class="btn btn-primary mr-2" href="{{ path('app_ficha_salida_registrar') }}"><i
                            class="fa fa-plus"></i>
                </a>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Nombre y apellidos</th>
                    <th>Grado científico</th>
                    <th>Institución cubana</th>
                    <th>País</th>
                    <th>Salida prevista</th>
                    <th>Estancia</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>

                        <td>{{ item.persona.primerNombre ~ ' ' ~ item.persona.segundoNombre ~' '~ item.persona.primerApellido ~ ' ' ~ item.persona.segundoApellido }}</td>
                        <td>{{ item.persona.gradoAcademico.nombre | default('') }}</td>
                        <td>{{ item.institucionCubana.siglas | default('') }}</td>
                        <td>{{ item.pais.nombre | default('') }}</td>
                        <td>{{ item.fechaSalidaPrevista | date('d/m/Y') }}</td>
                        <td>{{ item.tiempoEstancia | default('') }}</td>
                        <td width="15%" class="text-center">
                            {#                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction" #}
                            {#                                    data-url="{{ path('app_ficha_salida_detail', {'id' : item.id}) }}" #}
                            {#                                    data-title="Detalles de la ficha de salida"> #}
                            {#                                <i class="fa fa-eye "></i> #}
                            {#                            </button> #}

                            <a title="Modificar" href="{{ path('app_ficha_salida_modificar', {'id': item.id}) }}"
                               class="btn btn-outline-primary"><i
                                        class="fa fa-edit"></i>
                            </a>
                            <a title="Cambiar de estado"
                               href="{{ path('app_ficha_salida_cambiar_estado', {'id': item.id}) }}"
                               class="btn btn-outline-primary"><i
                                        class="fa fa-address-book"></i>
                            </a>
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_ficha_salida_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}


