{% extends 'baseAdmin.html.twig' %}

{% block title %}Fichas de salida{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de fichas de salida</h3>
                <a title="Adicionar" class="btn btn-primary mr-2" href="{{ path('app_ficha_salida_registrar') }}"><i
                            class="fa fa-plus"></i>
                </a>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="col-md-12">
            <div class="card">
                {#                <div class="card-header"> #}
                {#                    <h3 class="card-title">Collapsible Accordion</h3> #}
                {#                </div> #}

                <div class="card-body">

                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" style="background: #134679">
                                <h4 class="card-title w-100">
                                    <a style="color: #FFFFFF" class="d-block w-100 collapsed" data-toggle="collapse"
                                       href="#collapseOne" aria-expanded="false">
                                        Búsqueda avanzada {{ text_fil }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="required" for="estadoFicha">Estado</label>
                                            <select id="estadoFicha" name="estadoFicha"
                                                    class="form-control select2-hidden-accessible"
                                                    data-select2-id="estadoFicha"
                                                    tabindex="-1" aria-hidden="true">
                                                <option value="">Seleccione</option>
                                                {% for item2 in estados %}
                                                    <option {% if item2.id == fil_estado %} selected {% endif %}
                                                            value="{{ item2.id }}">{{ item2.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="card-body">


            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Nombre y apellidos</th>
                    <th>Grado científico</th>
                    <th>Institución cubana</th>
                    <th>País</th>
                    <th>Salida prevista</th>
                    <th>Estancia</th>
                    <th>Estado</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>

                        <td>{{ item.persona.primerNombre ~ ' ' ~ item.persona.segundoNombre ~' '~ item.persona.primerApellido ~ ' ' ~ item.persona.segundoApellido }}</td>
                        <td>{{ item.persona.gradoAcademico.nombre | default('') }}</td>
                        <td>{{ item.institucionCubana.siglas | default('') }}</td>
                        <td>{{ item.pais.nombre | default('') }}</td>
                        <td>{{ item.fechaSalidaPrevista | date('d/m/Y') }}</td>
                        <td>{{ item.tiempoEstancia | default('') }}</td>
                        <td>{{ item.estadoFichaSalida.nombre | default('') }}</td>
                        <td width="15%" class="text-center">
                            {#                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction" #}
                            {#                                    data-url="{{ path('app_ficha_salida_detail', {'id' : item.id}) }}" #}
                            {#                                    data-title="Detalles de la ficha de salida"> #}
                            {#                                <i class="fa fa-eye "></i> #}
                            {#                            </button> #}

                            {% if item.estadoFichaSalida.id == 1 and item.directivoFirma is null %}
                                <button title="Firmar por el directivo" class="btn btn-outline-primary elementRemove"
                                        data-url="{{ path('app_ficha_salida_firmar', {'id': item.id}) }}">
                                    <i class="fa fa-signature"></i>
                                </button>
                            {% else %}
                                {% if item.estadoFichaSalida.id != 3   %}
                                    <a title="Modificar"
                                       href="{{ path('app_ficha_salida_modificar', {'id': item.id}) }}"
                                       class="btn btn-outline-primary"><i
                                                class="fa fa-edit"></i>
                                    </a>
                                    <a title="Cambiar de estado"
                                       href="{{ path('app_ficha_salida_cambiar_estado', {'id': item.id}) }}"
                                       class="btn btn-outline-primary"><i
                                                class="fa fa-address-book"></i>
                                    </a>
                                {% endif %}

                            {% endif %}
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_ficha_salida_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}

{% block javascripts %}
    <script>

        $('#estadoFicha').change(function (e) {
            var estado = $(this).val();
            HoldOn.open({
                theme: "sk-cube-grid",
                message: 'Por favor espere...',
                textColor: "white"
            });
            $.post("{{ path('app_ficha_salida_index') }}",
                {
                    estado: estado
                },
                function (data) {
                    $(window).attr('location', window.location)
                    HoldOn.close()
                });
        });

    </script>
{% endblock %}
