<div class="card-body">
    <div class="row">
        <div class="col-4">
            <h5 class="mb-0"><b>Número de teléfono:</b> {{ item.numeroTelefono | default('') }}</h5>
            <h5 class="mb-0"><b>Plan voz:</b> {{ item.planVoz | default('') }}</h5>
        </div>
        <div class="col-4">
            <h5 class="mb-0"><b>Pin:</b> {{ item.pin | default('') }}</h5>
            <h5 class="mb-0"><b>Plan sms:</b> {{ item.planSms | default('') }}</h5>
        </div>
        <div class="col-4">
            <h5 class="mb-0"><b>Puk:</b> {{ item.puk | default('') }}</h5>
            <h5 class="mb-0"><b>Plan datos:</b> {{ item.planDatos | default('') }}</h5>
        </div>
    </div>
</div>

<div class="card-body">
    <h5 class="mb-0"><b>Recargas</b></h5>
    <table class="table table-bordered table-striped dataTable">
        <thead class="table-custom-header">
        <tr>
            <th>No.</th>
            <th>Fecha</th>
            <th>Plan voz</th>
            <th>Plan SMS</th>
            <th>Plan Datos</th>

        </tr>
        </thead>
        <tbody>
        {% for item in recargas %}
            <tr>
                <td width="1%">{{ loop.index }}</td>
                <td>{{ item.creado | date('d/m/Y') }}</td>
                <td>{{ item.planVoz | default('') }}</td>
                <td>{{ item.planSms | default('') }}</td>
                <td>{{ item.planDatos | default('') }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>

