{% extends 'baseAdmin.html.twig' %}

{% block title %}Modificar línea celular{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Modificar línea celular</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.estructura) }}
                    {{ form_widget(form.estructura) }}
                    {{ form_errors(form.estructura) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.numeroTelefono) }}
                    {{ form_widget(form.numeroTelefono) }}
                    {{ form_errors(form.numeroTelefono) }}
                </div>
                <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 form-group">
                    {{ form_label(form.pin) }}
                    {{ form_widget(form.pin) }}
                    {{ form_errors(form.pin) }}
                </div>
                <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 form-group">
                    {{ form_label(form.puk) }}
                    {{ form_widget(form.puk) }}
                    {{ form_errors(form.puk) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.planVoz) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa fa-clock"></i></span>
                        </div>
                        {{ form_widget(form.planVoz) }}
                        {{ form_errors(form.planVoz) }}
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.planSms) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa fa-dollar-sign"></i></span>
                        </div>
                        {{ form_widget(form.planSms) }}
                        {{ form_errors(form.planSms) }}
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.planDatos) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa fa-gigas" style="font-family: Source Serif Pro, PT Sans, Trebuchet MS, Helvetica, Arial;font-weight: bold">Gb</i></span>
                        </div>
                        {{ form_widget(form.planDatos) }}
                        {{ form_errors(form.planDatos) }}
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_linea_celular_index') }}"
               data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#linea_celular_planVoz, #linea_celular_planSms , #linea_celular_planDatos').on("keypress", function (event) {
            // Solo permitir números y comas
            var regex = /^[0-9,]+$/;
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);

            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        });
    </script>
{% endblock %}