{% extends 'baseAdmin.html.twig' %}

{% block title %}Línea celular {% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de líneas celulares</h3>
                <a title="Adicionar" class="btn btn-primary mr-2"
                   href="{{ path('app_linea_celular_registrar') }}"><i
                            class="fa fa-plus"></i>
                </a>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Institución</th>
                    <th>Número de teléfono</th>
                    <th>Plan voz</th>
                    <th>Plan SMS</th>
                    <th>Plan Datos</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td>({{ item.estructura.estructura.siglas | default('') }}
                            ) {{ item.estructura.nombre | default('') }}</td>
                        <td>{{ item.numeroTelefono  | default('') }}</td>
                        <td>{{ item.planVoz | default('') }}</td>
                        <td>{{ item.planSms | default('') }}</td>
                        <td>{{ item.planDatos | default('') }}</td>
                        <td width="20%" class="text-center">
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_linea_celular_detail', {'id' : item.id}) }}"
                                    data-title="Detalles de la línea celular">
                                <i class="fa fa-eye "></i>
                            </button>

                            <a title="Modificar" href="{{ path('app_linea_celular_modificar', {'id': item.id}) }}"
                               class="btn btn-outline-primary"><i
                                        class="fa fa-edit"></i>
                            </a>
                            <a title="Recargar" href="{{ path('app_linea_celular_recargar', {'id': item.id}) }}"
                               class="btn btn-outline-primary"><i
                                        class="fa fa-dollar-sign"></i>
                            </a>
                            <a title="Responsable" href="{{ path('app_linea_celular_responsable', {'id': item.id}) }}"
                               class="btn btn-outline-primary"><i
                                        class="fas fa-user"></i>
                            </a>
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_linea_celular_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}


