<div class="row">
    <div class="col-6">
        <h5 class="mb-0"><b>Nombre:</b> {{ item.nombre }}</h5>
    </div>
    <div class="col-6">
        {% if '1' == item.activo %}
            <h5 class="mb-0"><b>Estado:</b> Habilitado</h5>
        {% else %}
            <h5 class="mb-0"><b>Estado:</b> Deshabilitado</h5>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h5 class="mb-0"><b>Descripción:</b> {{ item.descripcion }}</h5>
    </div>
</div>

<br>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Nombre y apellidos</th>
        <th>Cargo</th>
        <th>País</th>
        <th>Objetivo del viaje</th>
        <th>Fecha</th>
        <th>Duración en días</th>
    </tr>
    </thead>
    <tbody>
    {% for item in registrosAsignados %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td width="20%">{{ item.persona.primerNombre ~ ' ' ~ item.persona.segundoNombre ~' '~ item.persona.primerApellido ~ ' ' ~ item.persona.segundoApellido }}</td>
            <td>{{ item.persona.responsabilidad.nombre | default('') }}</td>
            <td>{{ item.pais.nombre | default('') }}</td>
            <td>{{ item.objetivo | default('') }}</td>
            <td>{{ item.fecha | date('d/m/Y') }}</td>
            <td>{{ item.duracion | default('') }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>

