{% extends 'baseAdmin.html.twig' %}

{% block title %}Personas{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Directorio de personas</h3>
                <div style="float: left;padding-right: 1%">
                    <a id="add" title="Adicionar" class="btn btn-primary mr-2"
                       href="{{ path('app_persona_registrar') }}"><i
                                class="fa fa-plus"></i>
                    </a>
                    <a title="Exportar a pdf" class="btn btn-primary" target="_blank"
                       href="{{ path('app_persona_exportar_pdf') }}"><i class="fa fa-file-pdf"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Foto</th>
                    <th>Nombre y apellidos</th>
                    <th>Estructura superior</th>
                    <th>Estructura</th>
                    <th>Responsabilidad</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td width="1%">
                            <a href="{% if item.foto != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/personas/{{ item.foto }} {% else %} /assets/images/usuario.png {% endif %}"
                               target="_blank">
                                <img src="{% if item.foto != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/personas/{{ item.foto }}{% else %} /assets/images/usuario.png {% endif %}"
                                     class="img-circle" style="width: 40px;height: 40px; object-fit: cover">
                            </a></td>
                        <td width="20%">{{ item.primerNombre ~ ' ' ~ item.segundoNombre ~' '~ item.primerApellido ~ ' ' ~ item.segundoApellido }}</td>
                        <td width="30%">
                            {% if item.estructura.estructura.estructura.nombre is defined %}
                                {{ item.estructura.estructura.estructura.nombre | default('') }}
                            {% else %}
                                {{ item.estructura.estructura.nombre | default('') }}
                            {% endif %}
                        </td>
                        <td width="30%">{{ item.estructura.nombre | default('') }}</td>
                        <td>{{ item.responsabilidad.nombre | default('') }}</td>


                        <td class="text-center" width="30%">
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_persona_detail', {'id' : item.id}) }}"
                                    data-title="Detalles de la persona">
                                <i class="fa fa-eye "></i>
                            </button>
                            <a id="modificar_{{ item.id }}" title="Modificar" class="btn btn-outline-primary"
                               href="{{ path('app_persona_modificar', {'id': item.id}) }}"><i
                                        class="fa fa-edit"></i>
                            </a>
                            <a title="Modificar estructura y responsabilidad" class="btn btn-outline-primary"
                               href="{{ path('app_persona_modificar_estructura_responsabilidad', {'id': item.id}) }}"><i
                                        class="fa fa-address-card"></i>
                            </a>
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_persona_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Adicionar persona</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Input de tipo texto -->
                    <form id="addForm" action="{{ path('app_persona_registrar') }}" method="POST">
                        <div class="form-group">
                            <label for="personaNombre">Número de Identificación</label>
                            <input type="text" class="form-control" id="personaNombre" name="personaNombre"
                                   maxlength="11" required>
                            <!-- Mensaje de error -->
                            <div id="errorNombre" class="text-danger mt-2" style="display:none;">Por favor ingrese un
                                número válido de hasta 11 dígitos.
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="cerrar" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <!-- Botón dentro del modal que envía el formulario -->
                    <button type="button" class="btn btn-primary" id="saveBtn">Buscar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     <script>

         $('a[id*=modificar_]').click(function (e) {
             HoldOn.open({
                 theme: "sk-cube-grid",
                 message: 'Por favor espere...',
                 textColor: "white"
             });
         })

         // Mostrar el modal cuando se hace clic en el botón "add"
         document.getElementById('add').addEventListener('click', function (e) {
             e.preventDefault(); // Prevenir el comportamiento por defecto del enlace
             $('#addModal').modal('show'); // Mostrar el modal
         });

         $('#cerrar').click(function (e) {
             document.getElementById('errorNombre').style.display = 'none';
         })
         // Validar el formulario y enviar si es válido
         document.getElementById('saveBtn').addEventListener('click', function () {
             // Obtener el valor del campo de texto
             const nombreInput = document.getElementById('personaNombre').value.trim();

             // Expresión regular para validar que solo sean números
             const regex = /^[0-9]+$/;

             // Validar que el campo contenga solo números y tenga máximo 11 dígitos
             if (nombreInput === '' || !regex.test(nombreInput) || nombreInput.length > 11) {
                 // Mostrar mensaje de error si la validación falla
                 document.getElementById('errorNombre').style.display = 'block';
             } else {
                 // Ocultar mensaje de error si el campo es válido
                 document.getElementById('errorNombre').style.display = 'none';


                 HoldOn.open({
                     theme: "sk-cube-grid",
                     message: 'Por favor espere...',
                     textColor: "white"
                 });
                 $.post("{{ path('app_persona_validar_fuc') }}",
                     {
                         ci: nombreInput
                     },
                     function (data) {

                         if (data.status == 1) {
                             // Enviar el formulario si la validación es correcta
                             document.getElementById('addForm').submit();
                             $('#addModal').modal('hide');
                         } else {
                             toastr.error(data.msg);
                         }
                         HoldOn.close()
                     });
             }
         });

         // Opcional: Ocultar el mensaje de error cuando el usuario comience a escribir en el campo
         document.getElementById('personaNombre').addEventListener('input', function () {
             document.getElementById('errorNombre').style.display = 'none';
         });
     </script>
 {% endblock %}