{% extends 'baseAdmin.html.twig' %}

{% block title %}Cambiar estado del programa{% endblock %}

{% block body %}


    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">
                <h3 class="card-title text-bold text-gray">Cambiar estado del programa</h3>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h5 class="mb-0"><b>Nombre del programa:</b> {{ solicitudPrograma.nombre }}</h5>
                        <h5 class="mb-0"><b>Rama de la
                                ciencia:</b> {{ solicitudPrograma.ramaCiencia.nombre| default('') }}</h5>
                        <h5 class="mb-0"><b>Modalidad:</b> {{ solicitudPrograma.modalidadPrograma.nombre| default('') }}
                        </h5>
                        <h5 class="mb-0">
                            <b>Presencialidad:</b> {{ solicitudPrograma.presencialidadPrograma.nombre| default('') }}
                        </h5>
                    </div>
                    <div class="col-6">
                        <h5 class="mb-0"><b>Tipo de
                                programa:</b> {{ solicitudPrograma.tipoPrograma.nombre| default('') }}</h5>
                        <h5 class="mb-0"><b>Universidad:</b> {{ solicitudPrograma.universidad.nombre| default('') }}
                        </h5>
                        <h5 class="mb-0"><b>Programa: </b> <a target="_blank"
                                                              href="{{ app.request.getSchemeAndHttpHost() }}/uploads/solicitud_programa/{{ solicitudPrograma.docPrograma }}">{{ solicitudPrograma.docPrograma }}</a>
                        </h5>
                        <h5 class="mb-0"><b>Estado del
                                programa:</b> {{ solicitudPrograma.estadoPrograma.nombre| default('') }}</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.estadoPrograma) }}
                    {{ form_widget(form.estadoPrograma) }}
                    {{ form_errors(form.estadoPrograma) }}
                </div>
            </div>
            <div id="datosEstado" style="display: none">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                        {{ form_label(form.codigoPrograma) }}
                        {{ form_widget(form.codigoPrograma) }}
                        {{ form_errors(form.codigoPrograma) }}
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                        {{ form_label(form.resolucionPrograma) }}
                        {{ form_widget(form.resolucionPrograma) }}
                        <span style="margin-top: 1%;position: absolute;margin-left: -97%;z-index: 100;"
                              class="cargar-archivo"> </span>
                        {{ form_errors(form.resolucionPrograma) }}
                        <a id="doc_container" target="_blank"
                           href="{{ app.request.getSchemeAndHttpHost() }}/uploads/resolucion_programa/{{ solicitudPrograma.resolucionPrograma }}">{{ solicitudPrograma.resolucionPrograma }}</a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                        {{ form_label(form.categoriaCategorizacion) }}
                        {{ form_widget(form.categoriaCategorizacion) }}
                        {{ form_errors(form.categoriaCategorizacion) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                        {{ form_label(form.annoAcreditacion) }}
                        {{ form_widget(form.annoAcreditacion) }}
                        {{ form_errors(form.annoAcreditacion) }}
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                        {{ form_label(form.nivelAcreditacion) }}
                        {{ form_widget(form.nivelAcreditacion) }}
                        {{ form_errors(form.nivelAcreditacion) }}
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                        {{ form_label(form.fechaProximaAcreditacion) }}
                        {{ form_widget(form.fechaProximaAcreditacion) }}
                        {{ form_errors(form.fechaProximaAcreditacion) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 form-group">
                        {{ form_label(form.descripcion) }}
                        {{ form_widget(form.descripcion) }}
                        {{ form_errors(form.descripcion) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_solicitud_programa_index') }}"
               data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button id="btn_aceptar" class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>

        var fecha = "{% if solicitudPrograma.fechaProximaAcreditacion is empty %}  {{ solicitudPrograma.fechaProximaAcreditacion | default('') }} {% else %}  {{ solicitudPrograma.fechaProximaAcreditacion|date('d/m/Y') }} {% endif %}".replace(' ', '');
        $('#cambio_estado_programa_fechaProximaAcreditacion').val(fecha.replace(' ', ''));


        $('#cambio_estado_programa_resolucionPrograma').change(function () {
            var filename = jQuery(this).val().split('\\').pop();
            $('.cargar-archivo').html(filename);
        })


        $('#cambio_estado_programa_estadoPrograma').on('change', function () {
            if ($(this).val() == 3) {
                $('#datosEstado').css('display', 'block');
            } else {
                $('#datosEstado').css('display', 'none');
            }
        });
        if ($('#cambio_estado_programa_estadoPrograma').val() == 3) {
            $('#datosEstado').css('display', 'block');
        } else {
            $('#datosEstado').css('display', 'none');
        }

        $('#cambio_estado_programa_fechaProximaAcreditacion').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        $('#btn_aceptar').on('click', function () {
            if ($('#cambio_estado_programa_estadoPrograma').val() != 3) {
                $('[id*=cambio_estado]').attr('required', false)
                $('[id=cambio_estado_programa_annoAcreditacion]').attr('required', false)
                $('[id=cambio_estado_programa_fechaProximaAcreditacion]').attr('required', false)
            } else {
                $('[id*=cambio_estado]').attr('required', true)
            }

            if($('#doc_container').attr('href') ==""){
                $('[id*=cambio_estado_programa_resolucionPrograma]').attr('required', true)
            } else {
                $('[id*=cambio_estado_programa_resolucionPrograma]').attr('required', false)
            }
        });

        if($('#doc_container').attr('href') ==""){
            $('[id*=cambio_estado_programa_resolucionPrograma]').attr('required', true)
        } else {
            $('[id*=cambio_estado_programa_resolucionPrograma]').attr('required', false)
        }

    </script>
{% endblock %}