{% extends 'baseAdmin.html.twig' %}

{% block title %}Solicitudes de programas{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de solicitudes de programas</h3>
                <a title="Adicionar" class="btn btn-primary mr-2" href="{{ path('app_solicitud_programa_registrar') }}"><i
                            class="fa fa-plus"></i>
                </a>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Nombre</th>
                    <th>Tipo de programa</th>
                    <th>Rama de la ciencia</th>
                    <th>Universidad</th>
                    <th>Coordinador</th>
                    <th>Estado</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.tipoPrograma.nombre | default('') }}</td>
                        <td>{{ item.ramaCiencia.nombre | default('') }}</td>
                        <td>{{ item.universidad.nombre | default('') }}</td>
                        <td>{{ item.nombreCoordinador | default('') }}</td>
                        <td>{{ item.estadoPrograma.nombre | default('') }}</td>
                        <td width="20%" class="text-center">
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_solicitud_programa_detail', {'id' : item.id}) }}"
                                    data-title="Detalles de la solicitud del programa">
                                <i class="fa fa-eye "></i>
                            </button>
                            {% if item.estadoPrograma.id != 4 and item.estadoPrograma.id != 5 %}
                                <a title="Modificar"
                                   href="{{ path('app_solicitud_programa_modificar', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-edit"></i>
                                </a>
                            {% endif %}
                            <a title="Descargar programa" target="_blank" class="btn btn-outline-primary"
                               href="{{ app.request.getSchemeAndHttpHost() }}/uploads/solicitud_programa/{{ item.docPrograma }}">
                                <i
                                        class="fa fa-download"></i>
                            </a>
                            {% if item.estadoPrograma.id == 1 %}
                                <a title="Asignar comisión"
                                   href="{{ path('app_solicitud_programa_asignar_comision', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-address-card"></i>
                                </a>
                            {% endif %}
                            {% if item.estadoPrograma.id == 2 %}
                                <a title="Dictamenes"
                                   href="{{ path('app_solicitud_programa_asociar_dictamen', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-paperclip"></i>
                                </a>
{#                                <a title="Votar"#}
{#                                   href="{{ path('app_solicitud_programa_aprobar', {'id': item.id}) }}"#}
{#                                   class="btn btn-outline-primary"><i#}
{#                                            class="fa fa-hand-pointer"></i>#}
{#                                </a>#}
                            {% endif %}

                            {% if item.estadoPrograma.id == 3 %}
                                <a title="Revisar dictámenes"
                                   href="{{ path('app_solicitud_programa_revisar_dictamenes', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-book-open"></i>
                                </a>
                            {% endif %}
                            {% if item.estadoPrograma.id == 4 %}
                                <a title="Aprobar"
                                   href="{{ path('app_solicitud_programa_aprobar', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-check"></i>
                                </a>
                                <a title="No aprobar"
                                   href="{{ path('app_solicitud_programa_no_aprobar', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-times"></i>
                                </a>
                            {% endif %}
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_solicitud_programa_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}


