<div class="card-body">
    <div class="row">
        <div class="col-6">
            <h5 class="mb-0"><b>Nombre del programa:</b> {{ solicitudPrograma.nombre }}</h5>
            <h5 class="mb-0"><b>Rama de la
                    ciencia:</b> {{ solicitudPrograma.ramaCiencia.nombre| default('') }}</h5>
            <h5 class="mb-0"><b>Programa original de:</b> {{ item.originalDe.nombre| default('') }}</h5>
            <h5 class="mb-0"><b>Modalidad de
                    dedicación:</b> {{ solicitudPrograma.modalidadPrograma.nombre| default('') }}
            </h5>
            <h5 class="mb-0">
                <b>Modalidad de estudio:</b> {{ presencialidades | default('') }}
            </h5>
            <h5 class="mb-0">
                <b>Tipo de solicitud:</b> {{ solicitudPrograma.tipoSolicitud.nombre| default('') }}
            </h5>
            <h5 class="mb-0">
                <b>Duración del programa:</b> {{ solicitudPrograma.duracionPrograma | default('') }}
            </h5>

        </div>
        <div class="col-6">
            <h5 class="mb-0"><b>Tipo de
                    programa:</b> {{ solicitudPrograma.tipoPrograma.nombre| default('') }}</h5>
            <h5 class="mb-0"><b>Institución solicitante:</b> {{ solicitudPrograma.universidad.nombre| default('') }}
            </h5>
            <h5 class="mb-0"><b>Programa: </b> <a target="_blank"
                                                  href="{{ app.request.getSchemeAndHttpHost() }}/uploads/postgrado/solicitud_programa/{{ solicitudPrograma.docPrograma }}">{{ solicitudPrograma.docPrograma }}</a>
            </h5>
            <h5 class="mb-0"><b>Estado del
                    programa:</b> {{ solicitudPrograma.estadoPrograma.nombre| default('') }}</h5>
            <h5 class="mb-0"><b>Categoría de
                    acreditación:</b> {{ solicitudPrograma.categoriaAcreditacion.nombre| default('') }}</h5>
            <h5 class="mb-0">
                <b>Cantidad de créditos :</b> {{ solicitudPrograma.cantidadCreditos | default('') }}
            </h5>
            <h5 class="mb-0">

                <b>Fecha de aprobación del
                    programa:</b>{% if solicitudPrograma.fechaAprobacion is not null %} {{ solicitudPrograma.fechaAprobacion | date('d-m-Y') }} {% else %}   {% endif %}
            </h5>
            <h5 class="mb-0">
                <b>Clasificación:</b> {{ solicitudPrograma.tipoSolicitudClasificacion.clasificacion | default('') }}
            </h5>
        </div>
    </div>
</div>
<hr>