{% extends 'baseAdmin.html.twig' %}

{% block title %}Adicionar solicitud de programa{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Adicionar solicitud de programa</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.tipoSolicitud) }}
                    {{ form_widget(form.tipoSolicitud) }}
                    {{ form_errors(form.tipoSolicitud) }}
                </div>
                <div id="div_tipoSolicitudClasificacion" class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.tipoSolicitudClasificacion) }}
                    {{ form_widget(form.tipoSolicitudClasificacion) }}
                    {{ form_errors(form.tipoSolicitudClasificacion) }}
                </div>
                <div id="div_universidadesRed" class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.universidadesRed) }}
                    {{ form_widget(form.universidadesRed) }}
                    {{ form_errors(form.universidadesRed) }}
                </div>
                <div id="div_nombre" class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <div id="div_nombreExistente" class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.nombreExistente) }}
                    {{ form_widget(form.nombreExistente) }}
                    {{ form_errors(form.nombreExistente) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.tipoPrograma) }}
                    {{ form_widget(form.tipoPrograma) }}
                    {{ form_errors(form.tipoPrograma) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.ramaCiencia) }}
                    {{ form_widget(form.ramaCiencia) }}
                    {{ form_errors(form.ramaCiencia) }}
                </div>
                {#            </div> #}
                {#            <div class="row"> #}
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.universidad) }}
                    {{ form_widget(form.universidad) }}
                    {{ form_errors(form.universidad) }}
                </div>
                <div id="div_originalDe" class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.originalDe) }}
                    {{ form_widget(form.originalDe) }}
                    {{ form_errors(form.originalDe) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.docPrograma) }}
                    {{ form_widget(form.docPrograma) }}
                    <span style="margin-top: 1%;position: absolute;margin-left: -95%;z-index: 100;"
                          class="cargar-archivo"> </span>
                    {{ form_errors(form.docPrograma) }}
                </div>

                {#            </div> #}
                {#            <div class="row"> #}
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.modalidadPrograma) }}
                    {{ form_widget(form.modalidadPrograma) }}
                    {{ form_errors(form.modalidadPrograma) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.presencialidadPrograma) }}
                    {{ form_widget(form.presencialidadPrograma) }}
                    {{ form_errors(form.presencialidadPrograma) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.duracionPrograma) }}
                    {{ form_widget(form.duracionPrograma) }}
                    {{ form_errors(form.duracionPrograma) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.cantidadCreditos) }}
                    {{ form_widget(form.cantidadCreditos) }}
                    {{ form_errors(form.cantidadCreditos) }}
                </div>
            </div>
            <h6 class="mb-0"><b><p
                            style="font-size: 20px; font-weight: bold; margin-top: 5px;">
                        Datos del coordinador</p>
                </b></h6>
            <hr style="margin-bottom: 5px;padding-left: 1%">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.nombreCoordinador) }}
                    {{ form_widget(form.nombreCoordinador) }}
                    {{ form_errors(form.nombreCoordinador) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.correoCoordinador) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        {{ form_widget(form.correoCoordinador) }}
                        {{ form_errors(form.correoCoordinador) }}
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.telefonoCoordinador) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                        {{ form_widget(form.telefonoCoordinador) }}
                        {{ form_errors(form.telefonoCoordinador) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_solicitud_programa_index') }}"
               data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $('#div_tipoSolicitudClasificacion').hide();
        $('#div_universidadesRed').hide();
        $('#div_nombreExistente').hide();

        $('#solicitud_programa_tipoSolicitudClasificacion').children("option").filter("[value='']").remove().change()
        $('#solicitud_programa_tipoSolicitudClasificacion').val('{{ id_tipo_solicitud_clasificacion_nuevo }}').change();


        $('#solicitud_programa_nombreExistente').change(function () {
            HoldOn.open({
                theme: "sk-cube-grid",
                message: 'Por favor espere...',
                textColor: "white"
            });
            if ($(this).val() != "") {
                $('#solicitud_programa_nombre').val($('#solicitud_programa_nombreExistente').find('option:selected').text());
                //hacer un post para buscar esta infor
                $.post("{{ path('app_solicitud_programa_get_programa') }}",
                    {
                        id_programa: $('#solicitud_programa_nombreExistente').val()
                    },
                    function (data) {
                        if (data) {
                            // if (data.originalDe == null) {
                            //     toastr.warning("El programa seleccionado no tiene definido de quien es original de.");
                            // } else {
                            $('#solicitud_programa_tipoPrograma').val(data.tipoPrograma).change().attr('disabled', true);
                            $('#solicitud_programa_originalDe').val(data.originalDe).change().attr('disabled', true);
                            $('#solicitud_programa_ramaCiencia').val(data.ramaCiencia).change().attr('disabled', true);
                            // }
                            HoldOn.close()
                        }
                    });


            }
        })


        $('#solicitud_programa_docPrograma').change(function () {
            var filename = jQuery(this).val().split('\\').pop();
            $('.cargar-archivo').html(filename);
        })
        $('[data-mask]').inputmask()

        if ($('#solicitud_programa_tipoSolicitud').val() == '{{ id_tipo_solicitud_red }}') {//es red
            $('#div_originalDe').hide();
            $('#div_tipoSolicitudClasificacion').hide();
            $('#div_universidadesRed').show();
            $('#div_nombreExistente').hide();
            $('#div_nombre').show();
        }
        if ($('#solicitud_programa_tipoSolicitud').val() == '{{ id_tipo_solicitud_propio }}') {//es propio
            $('#div_originalDe').show();
            $('#div_tipoSolicitudClasificacion').show();
            $('#div_universidadesRed').hide();
        }

        $('#solicitud_programa_tipoSolicitud').on('change', function () {
            $('#solicitud_programa_universidadesRed').val(null).change();
            $('#div_tipoSolicitudClasificacion').hide();
            $('#div_universidadesRed').hide();
            $('#div_nombreExistente').hide();
            $('#div_nombre').show();

            HoldOn.open({
                theme: "sk-cube-grid",
                message: 'Por favor espere...',
                textColor: "white"
            });
            if ($(this).val() == '{{ id_tipo_solicitud_red }}') {//es red
                $('#div_originalDe').hide();
                $('#div_tipoSolicitudClasificacion').hide();
                $('#div_universidadesRed').show();
                $('#div_nombreExistente').hide();
                $('#div_nombre').show();
            }
            if ($(this).val() == '{{ id_tipo_solicitud_propio }}') {//es propio
                $('#div_originalDe').hide();

                $('#div_tipoSolicitudClasificacion').show();
                $('#div_universidadesRed').hide();
            }
            HoldOn.close()
        });

        if ($('#solicitud_programa_tipoSolicitudClasificacion').val() == '{{ id_tipo_solicitud_clasificacion_exitente }}') {//mostrar el componente de seleccion
            $('#div_nombreExistente').show();
            $('#div_nombre').hide();
            $('#div_originalDe').show();
        }
        if ($('#solicitud_programa_tipoSolicitudClasificacion').val() == '{{ id_tipo_solicitud_clasificacion_nuevo }}') {//mostrar el componente de nuevo normal
            $('#div_nombreExistente').hide();
            $('#div_nombre').show();
            $('#div_originalDe').hide();
        }

        $('#solicitud_programa_tipoSolicitudClasificacion').on('change', function () {
            HoldOn.open({
                theme: "sk-cube-grid",
                message: 'Por favor espere...',
                textColor: "white"
            });


            if ($(this).val() == '{{ id_tipo_solicitud_clasificacion_exitente }}') {//mostrar el componente de seleccion
                $('#div_nombreExistente').show();
                $('#div_nombre').hide();
                $('#div_originalDe').show();
            }
            if ($(this).val() == '{{ id_tipo_solicitud_clasificacion_nuevo }}') {//mostrar el componente de nuevo normal
                $('#div_nombreExistente').hide();
                $('#div_nombre').show();
                $('#div_originalDe').hide();
            }
            HoldOn.close()
        });
    </script>
{% endblock %}