{% extends 'baseAdmin.html.twig' %}

{% block title %}Votación por la solicitud de programa{% endblock %}
{% block stylesheets %}
    <style>


    </style>

{% endblock %}
{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Votación por la solicitud de programa</h3>

            </div>
        </div>
        {{ include('modules/postgrado/solicitud_programa/info_comun.html.twig', { 'solicitudPrograma': solicitudPrograma }) }}

        <!-- /.card-header -->
{#        {% if existeVoto is false %}#}
            <div class="card-body" id="comp_voto">
                <div style="font-size: 20px">
                    <label style="padding-left: 46%">Voto</label>
                    <div class="row" style="margin-left: 45%">
                        <div style="padding-top: 2%">
                            <div style="cursor: pointer" class="form-check icheck-success d-inline">
                                <input style="cursor: pointer" class="form-check-input" type="radio" name="voto"
                                       id="voto_si"
                                       value="1">
                                <label style="cursor: pointer" class="form-check-label" for="voto_si">Sí</label>
                            </div>
                            <div style="cursor: pointer; padding-left: 10%"
                                 class="form-check form-check-inline icheck-danger d-inline">
                                <input style="cursor: pointer" class="form-check-input" type="radio" name="voto"
                                       id="voto_no"
                                       value="0">
                                <label style="cursor: pointer" class="form-check-label" for="voto_no">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{#        {% endif %}#}
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Foto</th>
                    <th>Nombre y apellidos</th>
                    <th>Voto</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td width="2%">
                            <a href="{% if item.miembrosCopep.miembro.foto != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/personas/{{ item.miembrosCopep.miembro.foto }} {% else %} /assets/images/usuario.png {% endif %}"
                               target="_blank">
                                <img src="{% if item.miembrosCopep.miembro.foto != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/images/personas/{{ item.miembrosCopep.miembro.foto }}{% else %} /assets/images/usuario.png {% endif %}"
                                     class="img-circle" style="width: 40px;height: 40px; object-fit: cover">
                            </a></td>
                        <td>{{ item.miembrosCopep.miembro.primerNombre ~ ' ' ~ item.miembrosCopep.miembro.segundoNombre ~' '~ item.miembrosCopep.miembro.primerApellido ~ ' ' ~ item.miembrosCopep.miembro.segundoApellido }}</td>
                        <td width="8%">
                            <center> {% if item.voto %} <span
                                        style="color: #28A745;font-weight: bold">Sí</span> {% else %}
                                    <span style="color: #DC3545;font-weight: bold">No</span> {% endif %} </center>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $("input[name='voto']").change(function (e) {
            bootbox.confirm({
                title: 'Confirmación',
                message: '¿Está seguro que desea realizar la acción?',
                buttons: {
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirmar',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancelar',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.post("{{ path('app_solicitud_programa_votacion_guardar') }}",
                            {
                                voto: $("input[name='voto']:checked").val(),
                                solicitudPrograma: '{{ solicitudPrograma.id }}',
                                miembroCopep: '{{ miembroCopep }}',
                            },
                            function (data) {
                                if (data) {
                                    toastr.success("La acción ha sido realizada satisfactoriamente. ");
                                    window.location.href = window.location
                                }
                            });
                    } else {
                        $("input[name='voto']").prop('checked', false)
                    }
                }
            });
        })

    </script>
{% endblock %}