{% extends 'baseAdmin.html.twig' %}

{% block title %}Solicitudes{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de solicitudes</h3>
                <a title="Adicionar" class="btn btn-primary mr-2" href="{{ path('app_solicitud_registrar') }}"><i
                            class="fa fa-plus"></i>
                </a>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Organismo</th>
                    <th>Institución</th>
                    <th>Programa de pregrado</th>
                    <th>Programa de posgrado</th>
                    <th>Evaluación actual</th>
                    <th>Fecha propuesta</th>
                    <th>Fecha aprobada</th>
                    <th>Estado</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>

                        {% if item.tipoSolicitud == 'institucion' %}
                            <td>{{ item.institucion.estructura.estructura.siglas | default('') }}</td>
                            <td>{{ item.institucion.nombre | default('') }}</td>
                        {% elseif  item.tipoSolicitud == 'programa_pregrado' %}
                            <td>{{ item.programaPregrado.centroRector.estructura.estructura.siglas | default('') }}</td>
                            <td>{{ item.programaPregrado.centroRector.nombre | default('') }}</td>
                        {% elseif  item.tipoSolicitud == 'programa_posgrado' %}
                            <td>{{ item.programaPosgrado.universidad.estructura.estructura.siglas | default('') }}</td>
                            <td>{{ item.programaPosgrado.universidad.nombre | default('') }}</td>
                        {% endif %}

                        <td>{{ item.programaPregrado.nombre | default('') }}</td>
                        <td>{{ item.programaPosgrado.nombre | default('') }}</td>
                        <td>{{ item.categoriaAcreditacionActual | default('') }}</td>
                        <td>{% if item.fechaPropuesta is not null %} {{ item.fechaPropuesta | date('d/m/Y') }} {% else %} {{ '' }} {% endif %}</td>
                        <td>{% if item.fechaAprobada is not null %} {{ item.fechaAprobada | date('d/m/Y') }} {% else %} {{ '' }} {% endif %}</td>
                        <td>
                            {{ item.estadoSolicitud.nombre | default('') }}
                            {% if item.informeAutoevaluacion is not null %}
                                {% set classCss = 'bg-yellow' %}
                                {% set title = 'Informe de autoevaluación enviado' %}
                                {% if item.estadoInformeAutoevaluacion == 'Aprobado' %}
                                    {% set classCss = 'bg-green' %}
                                    {% set title = 'Informe de autoevaluación Aprobado' %}
                                {% endif %}
                                {% if item.estadoInformeAutoevaluacion == 'Rechazado' %}
                                    {% set classCss = 'bg-red' %}
                                    {% set title = 'Informe de autoevaluación Rechazado' %}
                                {% endif %}
                                <div class="progress progress-xs">
                                    <div title="{{ title }}" class="progress-bar {{ classCss }}"
                                         style="width: 100%"></div>
                                </div>
                            {% endif %}
                        </td>

                        <td width="20%" class="text-center">
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_solicitud_detail', {'id' : item.id}) }}"
                                    data-title="Detalles de la solicitud">
                                <i class="fa fa-eye "></i>
                            </button>
                            {% if item.estadoSolicitud.id != 4 and item.estadoSolicitud.id != 3 %}
                                <a title="Modificar" href="{{ path('app_solicitud_modificar', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-edit"></i>
                                </a>
                            {% endif %}
                            {% if item.estadoSolicitud.id == 2 %}
                                {% if item.estadoInformeAutoevaluacion =='Aprobado' %}
                                    <a title="Aceptar" href="{{ path('app_solicitud_aprobar', {'id': item.id}) }}"
                                       class="btn btn-outline-primary"><i
                                                class="fa fa-calendar-check"></i>
                                    </a>
                                    <a title="Rechazar" href="{{ path('app_solicitud_rechazar', {'id': item.id}) }}"
                                       class="btn btn-outline-primary"><i
                                                class="fa fa-calendar-times"></i>
                                    </a>
                                {% else %}
                                    <a title="Subir informe de autoevaluación"
                                       href="{{ path('app_solicitud_informe_autoevaluacion', {'id': item.id}) }}"
                                       class="btn btn-outline-primary"><i
                                                class="fa fa-upload"></i>
                                    </a>

                                {% endif %}

                            {% endif %}
                            {% if item.estadoSolicitud.id == 1 %}
                                <button title="Cambiar estado" class="btn btn-outline-primary elementRemove"
                                        data-url="{{ path('app_solicitud_cambiar_estado', {'id': item.id}) }}">
                                    <i class="fa fa-address-book"></i>
                                </button>

                            {% endif %}
                            <a title="Descargar Carta de solicitud" target="_blank" class="btn btn-outline-primary"
                               href="{{ app.request.getSchemeAndHttpHost() }}/uploads/evaluacion/solicitud/cartaSolicitud/{{ item.cartaSolicitud }}">
                                <i
                                        class="fa fa-download"></i>
                            </a>
                            {% if item.estadoInformeAutoevaluacion == 'Aprobado' %}
                                <a title="Descargar informe de autoevaluación" target="_blank"
                                   class="btn btn-outline-primary"
                                   href="{{ app.request.getSchemeAndHttpHost() }}/uploads/evaluacion/solicitud/informe/autoevaluacion/{{ item.informeAutoevaluacion }}">
                                    <i
                                            class="fa fa-file-download"></i>
                                </a>
                            {% endif %}
                            {% if item.estadoSolicitud.id != 4 and item.estadoSolicitud.id != 3 %}
                                <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                        data-url="{{ path('app_solicitud_eliminar', {'id': item.id}) }}">
                                    <i class="fa fa-trash"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}


