{% extends 'baseAdmin.html.twig' %}

{% block title %}Adicionar solicitud{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">
                <h3 class="card-title text-bold text-gray">Adicionar solicitud</h3>
            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.convocatoria) }}
                    {{ form_widget(form.convocatoria) }}
                    {{ form_errors(form.convocatoria) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.tipoSolicitud) }}
                    {{ form_widget(form.tipoSolicitud) }}
                    {{ form_errors(form.tipoSolicitud) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group" id="comp_institucion">
                    {{ form_label(form.institucion) }}
                    {{ form_widget(form.institucion) }}
                    {{ form_errors(form.institucion) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group" id="comp_pregrado">
                    {{ form_label(form.programaPregrado) }}
                    {{ form_widget(form.programaPregrado) }}
                    {{ form_errors(form.programaPregrado) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group" id="comp_posgrado">
                    {{ form_label(form.programaPosgrado) }}
                    {{ form_widget(form.programaPosgrado) }}
                    {{ form_errors(form.programaPosgrado) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.categoriaAcreditacionActual) }}
                    {{ form_widget(form.categoriaAcreditacionActual) }}
                    {{ form_errors(form.categoriaAcreditacionActual) }}
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fechaPropuesta) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaPropuesta) }}
                        {{ form_errors(form.fechaPropuesta) }}
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.cartaSolicitud) }}
                    {{ form_widget(form.cartaSolicitud) }}
                    <span style="margin-top: 1%;position: absolute;margin-left: -95%;z-index: 100;"
                          class="cargar-archivo"> </span>
                    {{ form_errors(form.cartaSolicitud) }}
                </div>
            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_solicitud_index') }}" data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}


{% block javascripts %}
    <script>
        $('#solicitud_cartaSolicitud').change(function () {
            var filename = jQuery(this).val().split('\\').pop();
            $('.cargar-archivo').html(filename);
        })

        $('#solicitud_fechaPropuesta').datetimepicker({
            format: 'DD/MM/YYYY'
        });


        $('div[id*="comp_"]').hide();
        $('#solicitud_tipoSolicitud').change(function () {
            $('#solicitud_programaPosgrado').attr('required', false)
            $('#solicitud_programaPregrado').attr('required', false)
            $('#solicitud_institucion').attr('required', false)


            $('#solicitud_categoriaAcreditacionActual').val(null);
            $('#solicitud_institucion').val('{{ idInstitucion }}');

            HoldOn.open({
                theme: "sk-cube-grid",
                message: 'Por favor espere...',
                textColor: "white"
            });
            $('div[id*="comp_"]').hide();
            if ($(this).val() == 'institucion') {
                $('div[id*="comp_institucion"]').show();
                $.post("{{ path('app_solicitud_get_categoria_acreditacion_institucion') }}",
                    {
                        institucion: $('#solicitud_institucion').val()
                    },
                    function (data) {
                        $('#solicitud_categoriaAcreditacionActual').val(data.categoriaAcreditacion)
                        $('#solicitud_institucion').val(data.nombreInstitucion)
                    });
                $('#solicitud_institucion').attr('required', true)


                HoldOn.close()
            } else {
                $('#solicitud_programaPregrado').val(null);
                $('#solicitud_programaPosgrado').val(null);
            }
            if ($(this).val() == 'programa_pregrado') {
                $('div[id*="comp_pregrado"]').show();

                var url = "{{ path('app_solicitud_get_programas_pregrado') }}";
                $.get(url, function (data) {
                    $('#solicitud_programaPregrado option').remove();
                    $('#solicitud_programaPregrado').append(new Option('Seleccione', ""));
                    for (var i = 0; i < data.length; i++) {
                        $('#solicitud_programaPregrado').append(new Option(data[i].nombre, data[i].id));
                    }
                    $('#solicitud_programaPregrado').attr('required', true)
                    HoldOn.close()
                });
            } else {
                $('#solicitud_institucion').val(null);
                $('#solicitud_programaPosgrado').val(null);
            }
            if ($(this).val() == 'programa_posgrado') {
                $('div[id*="comp_posgrado"]').show();

                var url = "{{ path('app_solicitud_get_programas_posgrado') }}";
                $.get(url, function (data) {
                    $('#solicitud_programaPosgrado option').remove();
                    $('#solicitud_programaPosgrado').append(new Option('Seleccione', ""));
                    for (var i = 0; i < data.length; i++) {
                        $('#solicitud_programaPosgrado').append(new Option(data[i].nombre, data[i].id));
                    }
                    $('#solicitud_programaPosgrado').attr('required', true)
                    HoldOn.close()
                });
            } else {
                $('#solicitud_institucion').val(null);
                $('#solicitud_programaPregrado').val(null);
            }
            if ($(this).val() == "") {
                HoldOn.close()
            }

        })


        $('#solicitud_programaPregrado').change(function () {
            HoldOn.open({
                theme: "sk-cube-grid",
                message: 'Por favor espere...',
                textColor: "white"
            });
            $.post("{{ path('app_solicitud_get_categoria_acreditacion_pregrado') }}",
                {
                    pregrado: $('#solicitud_programaPregrado').val()
                },
                function (data) {
                    $('#solicitud_categoriaAcreditacionActual').val(data.categoriaAcreditacion)
                });
            $('#solicitud_institucion').attr('required', true)
            HoldOn.close()
        })

        $('#solicitud_programaPosgrado').change(function () {
            HoldOn.open({
                theme: "sk-cube-grid",
                message: 'Por favor espere...',
                textColor: "white"
            });
            $.post("{{ path('app_solicitud_get_categoria_acreditacion_posgrado') }}",
                {
                    posgrado: $('#solicitud_programaPosgrado').val()
                },
                function (data) {
                    $('#solicitud_categoriaAcreditacionActual').val(data.categoriaAcreditacion)
                });
            $('#solicitud_institucion').attr('required', true)
            HoldOn.close()
        })


    </script>
{% endblock %}