{% extends 'baseAdmin.html.twig' %}

{% block title %}Modificar solicitud de programa académicos{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Modificar solicitud de programa académicos</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">

            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.tipoProgramaAcademico) }}
                    {{ form_widget(form.tipoProgramaAcademico) }}
                    {{ form_errors(form.tipoProgramaAcademico) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.organismoDemandante) }}
                    {{ form_widget(form.organismoDemandante) }}
                    {{ form_errors(form.organismoDemandante) }}
                </div>
                {#                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group"> #}
                {#                        {{ form_label(form.tipoOrganismo) }} #}
                {#                        {{ form_widget(form.tipoOrganismo) }} #}
                {#                        {{ form_errors(form.tipoOrganismo) }} #}
                {#                    </div> #}
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.resolucion) }}
                    {{ form_widget(form.resolucion) }}
                    <span style="margin-top: 1%;position: absolute;margin-left: -95%;z-index: 100;"
                          class="cargar-archivo"> </span>
                    {{ form_errors(form.resolucion) }}
                    <a target="_blank"
                       href="{{ app.request.getSchemeAndHttpHost() }}/uploads/solicitud_programa_academico/resolucion/{{ solicitudProgramaAcademico.resolucion }}">{{ solicitudProgramaAcademico.resolucion }}</a>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fundamentacion) }}
                    {{ form_widget(form.fundamentacion) }}
                    <span style="margin-top: 1%;position: absolute;margin-left: -95%;z-index: 100;"
                          class="cargar-archivo1"> </span>
                    {{ form_errors(form.fundamentacion) }}
                    <a target="_blank"
                       href="{{ app.request.getSchemeAndHttpHost() }}/uploads/solicitud_programa_academico/fundamentacion/{{ solicitudProgramaAcademico.fundamentacion }}">{{ solicitudProgramaAcademico.fundamentacion }}</a>
                </div>
            </div>
            <hr>
            <h5 class="mb-0"><b><p style="font-size: 25px; font-weight: bold; margin-top: 5px;">Datos del
                        solicitante</p></b>
            </h5>
            <hr>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.nombreSolicitante) }}
                    {{ form_widget(form.nombreSolicitante) }}
                    {{ form_errors(form.nombreSolicitante) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.correoSolicitante) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        {{ form_widget(form.correoSolicitante) }}
                        {{ form_errors(form.correoSolicitante) }}
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.telefonoSolicitante) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                        {{ form_widget(form.telefonoSolicitante) }}
                        {{ form_errors(form.telefonoSolicitante) }}
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_solicitud_programa_academico_index') }}"
               data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#solicitud_programa_academico_resolucion').change(function () {
            var filename = jQuery(this).val().split('\\').pop();
            $('.cargar-archivo').html(filename);
        })
        $('#solicitud_programa_academico_fundamentacion').change(function () {
            var filename = jQuery(this).val().split('\\').pop();
            $('.cargar-archivo1').html(filename);
        })
        $('[data-mask]').inputmask()
    </script>
{% endblock %}