{% extends 'baseAdmin.html.twig' %}

{% block title %}Solicitudes de programas académicos{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de solicitudes de programas académicos</h3>
                <div>
                    <a title="Adicionar" class="btn btn-primary mr-2"
                       href="{{ path('app_solicitud_programa_academico_registrar') }}"><i
                                class="fa fa-plus"></i>
                    </a>
                    <a title="Exportar a pdf" class="btn btn-primary" target="_blank"
                       href="{{ path('app_solicitud_programa_academico_exportar_pdf') }}"><i class="fa fa-file-pdf"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Programa académico</th>
                    <th>Tipo de programa académico</th>
                    <th>Tipo de organismo</th>
                    <th>Organismo demandante</th>
                    <th>Estado</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.tipoProgramaAcademico | default('') }}</td>
                        <td>{{ item.tipoOrganismo | default('') }}</td>
                        <td>{{ item.organismoDemandante | default('') }}</td>
                        <td>{{ item.estadoProgramaAcademico | default('') }}</td>

                        <td width="15%" class="text-center">
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_solicitud_programa_academico_detail', {'id' : item.id}) }}"
                                    data-title="Detalles de la solicitud de programa académico">
                                <i class="fa fa-eye "></i>
                            </button>
                            {% if item.estadoProgramaAcademicoId  == 1 %}
                                <a title="Modificar"
                                   href="{{ path('app_solicitud_programa_academico_modificar', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-edit"></i>
                                </a>
                                <a title="Aprobar"
                                   href="{{ path('app_solicitud_programa_academico_aprobar', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-check"></i>
                                </a>
                                <a title="Rechazar"
                                   href="{{ path('app_solicitud_programa_academico_rechazar', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-times"></i>
                                </a>
                            {% endif %}
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_solicitud_programa_academico_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}


