{% extends 'baseAdmin.html.twig' %}

{% block title %}Adicionar solicitud de programa académico{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Adicionar solicitud de programa académico</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-4 form-group">
                    {{ form_label(form.tipoProgramaAcademico) }}
                    {{ form_widget(form.tipoProgramaAcademico) }}
                    {{ form_errors(form.tipoProgramaAcademico) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.tipoOrganismo) }}
                    {{ form_widget(form.tipoOrganismo) }}
                    {{ form_errors(form.tipoOrganismo) }}
                </div>
            </div>
            <div class="row">
                <div class="col-4 form-group">
                    {{ form_label(form.organismoDemandante) }}
                    {{ form_widget(form.organismoDemandante) }}
                    {{ form_errors(form.organismoDemandante) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.resolucion) }}
                    {{ form_widget(form.resolucion) }}
                    <span style="margin-top: 1%;position: absolute;margin-left: -95%;z-index: 100;"
                          class="cargar-archivo"> </span>
                    {{ form_errors(form.resolucion) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fundamentacion) }}
                    {{ form_widget(form.fundamentacion) }}
                    <span style="margin-top: 1%;position: absolute;margin-left: -95%;z-index: 100;"
                          class="cargar-archivo1"> </span>
                    {{ form_errors(form.fundamentacion) }}
                </div>


            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_solicitud_programa_academico_index') }}"
               data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script>

        $('#solicitud_programa_academico_resolucion').change(function () {
            var filename = jQuery(this).val().split('\\').pop();
            $('.cargar-archivo').html(filename);
        })
        $('#solicitud_programa_academico_fundamentacion').change(function () {
            var filename = jQuery(this).val().split('\\').pop();
            $('.cargar-archivo1').html(filename);
        })

    </script>
{% endblock %}