<div class="row">
    <div class="col-6">
        <h5 class="mb-0"><b>Curso académico:</b> {{ item.cursoAcademico.nombre | default('') }}</h5>
        <h5 class="mb-0"><b>Año de aprobación:</b> {{ item.annoAprobacion | default('') }}</h5>
        <h5 class="mb-0"><b>AOCE de formación:</b> {{ item.oace.nombre | default('') }}</h5>
        <h5 class="mb-0"><b>Plan de estudio: </b> <a target="_blank"
                                                     href="{{ app.request.getSchemeAndHttpHost() }}/uploads/pregrado/plan_estudio/{{ item.planEstudio }}">{{ item.planEstudio }}</a>
        </h5>
        <h5 class="mb-0"><b>Duración del Curso Por Encuentro:</b> {{ item.duracionCursoPorEncuentro  | default('0') }}
            años</h5>
    </div>
    <div class="col-6">
        <h5 class="mb-0"><b>Carrera:</b> {{ item.carrera.nombre | default('') }}</h5>
        <h5 class="mb-0"><b>Fecha de aprobación:</b> {{ item.fechaAprobacion | date('d/m/Y') }}</h5>
        <h5 class="mb-0"><b>Organismo demandante:</b> {{ item.organismoDemandante.nombre | default('') }}</h5>
        <h5 class="mb-0"><b>Duración del Curso Diurno:</b> {{ item.duracionCursoDiurno | default('0') }} años</h5>
        <h5 class="mb-0"><b>Duración del Curso a Distancia:</b> {{ item.duracionCursoDistancia | default('0') }} años
        </h5>
    </div>
</div>
<hr>
<h6 class="mb-0"><b><p
                style="font-size: 20px; font-weight: bold; margin-top: 5px;">
            Documentos del expediente</p>
    </b></h6>
<hr>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Documento</th>
        <th>Tipo de Documento</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
    {% for item in registros %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.nombre | default('') }}</td>
            <td>{{ item.documento.nombre | default('') }}</td>
            <td width="5%" class="text-center">
                <a title="Descargar documento" target="_blank" class="btn btn-outline-primary"
                   href="{{ app.request.getSchemeAndHttpHost() }}/{{ item.documentoFisico }}">
                    <i class="fa fa-file-download"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


