{% extends 'baseAdmin.html.twig' %}

{% block title %}Modelo 223.216 (III) (AE3){% endblock %}

{% block body %}
    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">
                <h3 class="card-title text-bold text-gray">Listado de Modelo 223.216 (III) (AE3)</h3>
                <a title="Adicionar" class="btn btn-primary mr-2"
                   href="{{ path('app_rrhh_reporte_ae3_registrar') }}"><i
                            class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>A침o</th>
                    <th>Mes</th>
                    <th>Instituci칩n</th>
                    <th class="text-center">Opciones</th>
                </tr>
                <tr>
                    <th></th> <!-- No filter for index -->
                    <th><input type="text" placeholder="Filtrar por A침o" class="responsive-input"/></th>
                    <th><input type="text" placeholder="Filtrar por Mes" class="responsive-input"/></th>
                    <th><input type="text" placeholder="Filtrar por Instituci칩n"
                               class="responsive-input"/></th>
                    <th></th> <!-- No filter for actions -->
                </tr>
                </thead>
                <tbody>
                {% set meses = [
                    '', 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                    'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
                ] %}

                {% for item in registros %}
                    <tr>
                        <td style="width: 1%;">{{ loop.index }}</td>
                        <td style="width: 4%;">{{ item.anno | default('') }}</td>
                        <td style="width: 4%;">{{ meses[item.mes]|default('') }}</td>
                        <td>{{ item.entidad.nombre | default('') }}</td>

                        <td style="width: 15%" class="text-center">
                            <button style="padding: 2px 6px;" title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_rrhh_reporte_ae3_detail', {'id' : item.id}) }}"
                                    data-title="Detalles ">
                                <i class="fa fa-eye "></i>
                            </button>

                            <a style="padding: 2px 6px;"title="Modificar"
                               href="{{ path('app_rrhh_reporte_ae3_modificar', {'id': item.id}) }}"
                               class="btn btn-outline-primary"><i
                                        class="fa fa-edit"></i>
                            </a>
                            {% if item.documento %}
                                <a title="Descargar AE3 firmado" target="_blank"
                                   class="btn btn-outline-primary btn-sm"
                                   href="{{ app.request.getSchemeAndHttpHost() }}/uploads/rrhh/ae3/documento/{{ item.documento }}"
                                   style="padding: 2px 6px;">
                                    <i class="fa fa-file-download"></i>
                                </a>
                            {% endif %}
                            <button style="padding: 2px 6px;" title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_rrhh_reporte_ae3_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}