<div class="row">
    <div class="col-6">
        <h5 class="mb-0"><b>Nombre del CDV:</b> {{ item.nombre | default('') }}</h5>
        <h5 class="mb-0"><b>RAM:</b> {{ item.ram | default('') }}</h5>
        <h5 class="mb-0"><b>HDD Salva:</b> {{ item.hddSalva | default('') }}</h5>
        <h5 class="mb-0"><b>Precio:</b> {{ item.precio | default('') }}</h5>
    </div>
    <div class="col-6">
        <h5 class="mb-0"><b>CPU:</b> {{ item.cpu | default('') }}</h5>
        <h5 class="mb-0"><b>HDD:</b> {{ item.hdd | default('') }}</h5>
        <h5 class="mb-0"><b>Cantidad de IP Reales:</b> {{ item.cantidadIpReales | default('') }}</h5>
    </div>
</div>

