{% extends 'baseAdmin.html.twig' %}

{% block title %}Centros de Datos   {% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de Centros de Datos </h3>
                <a title="Adicionar" class="btn btn-primary mr-2"
                   href="{{ path('app_centro_dato_virtual_registrar') }}"><i
                            class="fa fa-plus"></i>
                </a>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Institución</th>
                    <th>CVD</th>
                    <th>RAM (Gb)</th>
                    <th>CPU</th>
                    <th>HDD (Gb)</th>
                    <th>HDD Salva (Gb)</th>
                    <th>Precio</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td>({{ item.estructura.estructura.siglas | default('') }}
                            ) {{ item.estructura.nombre | default('') }}</td>
                        <td>{{ item.nombre | default('') }}</td>
                        <td>{{ item.ram | default('') }}</td>
                        <td>{{ item.cpu | default('') }}</td>
                        <td>{{ item.hdd | default('') }}</td>
                        <td>{{ item.hddSalva | default('') }}</td>
                        <td>{{ item.precio | default('') }}</td>
                        <td width="15%" class="text-center">
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    style="min-width: auto; width: auto; padding: 2px 6px;"
                                    data-url="{{ path('app_centro_dato_virtual_detail', {'id' : item.id}) }}"
                                    data-title="Detalles del CDV">
                                <i class="fa fa-eye "></i>
                            </button>

                            <a title="Modificar" href="{{ path('app_centro_dato_virtual_modificar', {'id': item.id}) }}"
                               style="min-width: auto; width: auto; padding: 2px 6px;"
                               class="btn btn-outline-primary"><i
                                        class="fa fa-edit"></i>
                            </a>
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    style="min-width: auto; width: auto; padding: 2px 6px;"
                                    data-url="{{ path('app_centro_dato_virtual_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}


