{% extends 'baseAdmin.html.twig' %}

{% block title %}Adicionar Centros de Datos Virtuales (ETECSA){% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Adicionar Centros de Datos Virtuales (ETECSA)</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.ram) }}
                    {{ form_widget(form.ram) }}
                    {{ form_errors(form.ram) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.cpu) }}
                    {{ form_widget(form.cpu) }}
                    {{ form_errors(form.cpu) }}
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.hdd) }}
                    {{ form_widget(form.hdd) }}
                    {{ form_errors(form.hdd) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.hddSalva) }}
                    {{ form_widget(form.hddSalva) }}
                    {{ form_errors(form.hddSalva) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.cantidadIpReales) }}
                    {{ form_widget(form.cantidadIpReales) }}
                    {{ form_errors(form.cantidadIpReales) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.precio) }}
                    {{ form_widget(form.precio) }}
                    {{ form_errors(form.precio) }}
                </div>
            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_centro_dato_virtual_index') }}"
               data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}