{% extends 'baseAdmin.html.twig' %}

{% block title %}Categorías docentes{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de categorías docentes especiales</h3>
                <a title="Adicionar" class="btn btn-primary mr-2"
                   href="{{ path('app_rrhh_categoria_docente_registrar') }}"><i
                            class="fa fa-plus"></i>
                </a>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td style="width: 1%;">{{ loop.index }}</td>
                        <td style="width: 70%;">{{ item.nombre }}</td>
                        <td style="width: 1%;" class="-text-center">
                            {% if '1' == item.activo %}
                                <span class="ms-status -active">Habilitado</span>
                            {% else %}
                                <span class="ms-status">Deshabilitado</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_rrhh_categoria_docente_detail', {'id' : item.id}) }}"
                                    data-title="Detalles de la categoría docente">
                                <i class="fa fa-eye "></i>
                            </button>

                            <a title="Modificar"
                               href="{{ path('app_rrhh_categoria_docente_modificar', {'id': item.id}) }}"
                               class="btn btn-outline-primary"><i
                                        class="fa fa-edit"></i>
                            </a>
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_rrhh_categoria_docente_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}


