{% extends 'baseAdmin.html.twig' %}

{% block title %}Modificar convocatoria{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Modificar convocatoria</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
                
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fechaInicio) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaInicio) }}
                        {{ form_errors(form.fechaInicio) }}
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fechaFin) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaFin) }}
                        {{ form_errors(form.fechaFin) }}
                    </div>
                </div>
{#                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">#}
{#                    {{ form_label(form.carta) }}#}
{#                    {{ form_widget(form.carta) }}#}
{#                    <span style="margin-top: 1%;position: absolute;margin-left: -95%;z-index: 100;"#}
{#                          class="cargar-archivo"> </span>#}
{#                    {{ form_errors(form.carta) }}#}
{#                    <a id="doc_container" target="_blank"#}
{#                       href="{{ app.request.getSchemeAndHttpHost() }}/uploads/evaluacion/convocatoria/carta/{{ convocatoria.carta }}">{{ convocatoria.carta }}</a>#}
{#                </div>#}
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-group">
                    {{ form_label(form.descripcion) }}
                    {{ form_widget(form.descripcion) }}
                    {{ form_errors(form.descripcion) }}
                </div>
            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_convocatoria_index') }}" data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        var fecha = "{% if convocatoria.fechaInicio is empty %}  {{ convocatoria.fechaInicio | default('') }} {% else %}  {{ convocatoria.fechaInicio|date('d/m/Y') }} {% endif %}".replace(' ', '');
        $('#convocatoria_fechaInicio').val(fecha.replace(' ', ''));

        var fecha = "{% if convocatoria.fechaFin is empty %}  {{ convocatoria.fechaFin | default('') }} {% else %}  {{ convocatoria.fechaFin|date('d/m/Y') }} {% endif %}".replace(' ', '');
        $('#convocatoria_fechaFin').val(fecha.replace(' ', ''));


        $('#convocatoria_carta').change(function () {
            var filename = jQuery(this).val().split('\\').pop();
            $('.cargar-archivo').html(filename);
        })
        $('#convocatoria_fechaInicio, #convocatoria_fechaFin').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    </script>
{% endblock %}
