{% extends 'baseAdmin.html.twig' %}

{% block title %}Modificar pasaporte{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Modificar pasaporte

                </h3>

            </div>
        </div>
        {{ include('modules/personal/persona/partial.html.twig', { 'persona': pasaporte.persona }) }}
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-4 form-group">
                    <div class="row">
                        <div class="col-10">
                            {{ form_label(form.cara1) }}
                            {{ form_widget(form.cara1) }}
                            {{ form_errors(form.cara1) }}
                        </div>
                        <div class="col-2">
                            <div id="image-holder"></div>

                            {% if pasaporte.cara1 != null %}
                                <img src="{{ app.request.getSchemeAndHttpHost() }}/uploads/tramites/pasaporte/{{ pasaporte.cara1 }}"
                                     class="img-circle imgp" alt="Imagen"
                                     style="width: 40px; height: 40px; position: absolute; bottom: 0;">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-4 form-group">
                    <div class="row">
                        <div class="col-10">
                            {{ form_label(form.cara2) }}
                            {{ form_widget(form.cara2) }}
                            {{ form_errors(form.cara2) }}
                        </div>
                        <div class="col-2">
                            <div id="image-holder1"></div>

                            {% if pasaporte.cara2 != null %}
                                <img src="{{ app.request.getSchemeAndHttpHost() }}/uploads/tramites/pasaporte/{{ pasaporte.cara2 }}"
                                     class="img-circle imgp" alt="Imagen"
                                     style="width: 40px; height: 40px; position: absolute; bottom: 0;">
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.tipoPasaporte) }}
                    {{ form_widget(form.tipoPasaporte) }}
                    {{ form_errors(form.tipoPasaporte) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.numeroPasaporte) }}
                    {{ form_widget(form.numeroPasaporte) }}
                    {{ form_errors(form.numeroPasaporte) }}
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fechaEmisionPasaporte) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaEmisionPasaporte) }}
                        {{ form_errors(form.fechaEmisionPasaporte) }}
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fechaCaducidadPasaporte) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaCaducidadPasaporte) }}
                        {{ form_errors(form.fechaCaducidadPasaporte) }}
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group" style="margin-top: 2%">
                    {{ form_label(form.activo) }}
                    {{ form_widget(form.activo) }}
                    {{ form_errors(form.activo) }}
                </div>
            </div>

        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_pasaporte_index') }}"
               data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        var emision = "{% if pasaporte.fechaEmisionPasaporte is not null %} {{ pasaporte.fechaEmisionPasaporte | date('d/m/Y') }} {% else %} {{ '' }} {% endif %}" ;
        $('#pasaporte_fechaEmisionPasaporte').val(emision);
        var caducidad = "{% if pasaporte.fechaCaducidadPasaporte is not null %} {{ pasaporte.fechaCaducidadPasaporte | date('d/m/Y') }} {% else %} {{ '' }} {% endif %}";
        $('#pasaporte_fechaCaducidadPasaporte').val(caducidad);

        // $('#pasaporte_fechaEmisionPasaporte, #pasaporte_fechaCaducidadPasaporte').datetimepicker({
        //     format: 'DD/MM/YYYY'
        // });
        $(document).ready(function () {
            // Obtener la fecha actual
            const today = moment();

            // Inicializar el componente de fecha de emisión del pasaporte
            $('#pasaporte_fechaEmisionPasaporte').datetimepicker({
                format: 'DD/MM/YYYY',
                maxDate: today // La fecha de emisión debe ser igual o anterior a la fecha actual
            });

            // Inicializar el componente de fecha de caducidad del pasaporte
            $('#pasaporte_fechaCaducidadPasaporte').datetimepicker({
                format: 'DD/MM/YYYY',
                useCurrent: false // Evitar selección automática de una fecha inválida
            });

            // Evento para actualizar el rango de fechas en el componente de caducidad
            $('#pasaporte_fechaEmisionPasaporte').on('dp.change', function (e) {
                const selectedDate = e.date; // Obtener la fecha seleccionada
                if (selectedDate) {
                    // Actualizar el componente de caducidad con una fecha mínima
                    $('#pasaporte_fechaCaducidadPasaporte').data('DateTimePicker').minDate(selectedDate.add(1, 'days'));
                } else {
                    // Restablecer el rango si no se selecciona ninguna fecha
                    $('#pasaporte_fechaCaducidadPasaporte').data('DateTimePicker').minDate(false);
                }
            });
        });

        $("#pasaporte_cara1").on('change', function () {
            //Get count of selected files
            var countFiles = $(this)[0].files.length;
            var imgPath = $(this)[0].value;

            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
            var image_holder = $("#image-holder");
            image_holder.empty();
            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof (FileReader) != "undefined") {
                    //loop for each file selected for uploaded.
                    for (var i = 0; i < countFiles; i++) {
                        var reader = new FileReader();
                        reader.onload = function (e) {

                            $('.imgp').remove()
                            $("<img />", {
                                "src": e.target.result,
                                "class": "thumb-image   img-circle",
                                "style": 'width: 40px; height: 40px; position: absolute; bottom: 0;'
                            }).appendTo(image_holder);
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[i]);
                    }
                } else {
                    alert("This browser does not support FileReader.");
                }
            } else {
                alert("Pls select only images");
            }
        });
        $("#pasaporte_cara2").on('change', function () {
            //Get count of selected files
            var countFiles = $(this)[0].files.length;
            var imgPath = $(this)[0].value;

            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
            var image_holder = $("#image-holder1");
            image_holder.empty();
            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof (FileReader) != "undefined") {
                    //loop for each file selected for uploaded.
                    for (var i = 0; i < countFiles; i++) {
                        var reader = new FileReader();
                        reader.onload = function (e) {

                            $('.imgp').remove()
                            $("<img />", {
                                "src": e.target.result,
                                "class": "thumb-image   img-circle",
                                "style": 'width: 40px; height: 40px; position: absolute; bottom: 0;'
                            }).appendTo(image_holder);
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[i]);
                    }
                } else {
                    alert("This browser does not support FileReader.");
                }
            } else {
                alert("Pls select only images");
            }
        });
    </script>
{% endblock %}