{% extends 'baseAdmin.html.twig' %}

{% block title %}Solicitd de aplazamiento{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Solicitd de aplazamiento</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fechaPropuestaAplazamiento) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaPropuestaAplazamiento) }}
                        {{ form_errors(form.fechaPropuestaAplazamiento) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_plan_anual_evaluacion_index') }}"
               data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button id="btn_submit" class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

    {% block javascripts %}
        <script>
            {#var fecha = "{% if solicitud.fechaAprobada is empty %}  {{ solicitud.fechaAprobada | default('') }} {% else %}  {{ solicitud.fechaAprobada|date('d/m/Y') }} {% endif %}".replace(' ', '');#}
            {#$('#aplazar_solicitud_fechaPropuestaAplazamiento').val(fecha.replace(' ', ''));#}
            $('#aplazar_solicitud_fechaPropuestaAplazamiento').datetimepicker({
                format: 'DD/MM/YYYY',
                useCurrent: false
            });

        </script>
    {% endblock %}
