{% extends 'baseAdmin.html.twig' %}

{% block title %}Plan anual de evaluación{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de planes anuales de evaluación</h3>

            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Organismo</th>
                    <th>Institución</th>
                    <th>Programa de pregrado</th>
                    <th>Programa de posgrado</th>
                    <th>Evaluación actual</th>
                    <th>Fecha propuesta</th>
                    <th>Fecha aprobada</th>
                    <th>Comisión evaluadora</th>
                    <th>Estado</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>

                        {% if item.tipoSolicitud == 'institucion' %}
                            <td>{{ item.institucion.estructura.estructura.siglas | default('') }}</td>
                            <td>{{ item.institucion.nombre | default('') }}</td>
                        {% elseif  item.tipoSolicitud == 'programa_pregrado' %}
                            <td>{{ item.programaPregrado.centroRector.estructura.estructura.siglas | default('') }}</td>
                            <td>{{ item.programaPregrado.centroRector.nombre | default('') }}</td>
                        {% elseif  item.tipoSolicitud == 'programa_posgrado' %}
                            <td>{{ item.programaPosgrado.universidad.estructura.estructura.siglas | default('') }}</td>
                            <td>{{ item.programaPosgrado.universidad.nombre | default('') }}</td>
                        {% endif %}

                        <td>{{ item.programaPregrado.nombre | default('') }}</td>
                        <td>{{ item.programaPosgrado.nombre | default('') }}</td>
                        <td>{{ item.categoriaAcreditacionActual | default('') }}</td>
                        <td>{% if item.fechaPropuesta is not null %} {{ item.fechaPropuesta | date('d/m/Y') }} {% else %} {{ '' }} {% endif %}</td>
                        <td>{% if item.fechaAprobada is not null %} {{ item.fechaAprobada | date('d/m/Y') }} {% else %} {{ '' }} {% endif %}</td>
                        <td>{{ item.comision | default('') }}</td>

                        <td>
                            {{ item.estadoSolicitud.nombre | default('') }}
                            {% if item.aplazamiento is not null %}
                                {% set classCss = 'bg-yellow' %}
                                {% set title = 'Aplazamiento solicitado' %}
                                {% if item.estadoAplazamiento == 'Aprobado' %}
                                    {% set classCss = 'bg-green' %}
                                    {% set title = 'Aplazamiento Aprobado' %}
                                {% endif %}
                                {% if item.estadoAplazamiento == 'Rechazado' %}
                                    {% set classCss = 'bg-red' %}
                                    {% set title = 'Aplazamiento Rechazado' %}
                                {% endif %}
                                <div class="progress progress-xs">
                                    <div title="{{ title }}" class="progress-bar {{ classCss }}"
                                         style="width: 100%"></div>
                                </div>
                            {% endif %}


                        </td>
                        <td width="10%" class="text-center">
                            <button title="Detalles" class="btn btn-outline-primary modalDetailAction"
                                    data-url="{{ path('app_plan_anual_evaluacion_detail', {'id' : item.id}) }}"
                                    data-title="Detalles de la solicitud">
                                <i class="fa fa-eye "></i>
                            </button>

                            {% if item.estadoSolicitud.id in [3] %}
                                <a title="Subir informe de autoevaluación"
                                   href="{{ path('app_plan_anual_evaluacion_informe_autoevaluacion', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-cloud-upload-alt"></i>
                                </a>
                            {% endif %}
                            {% if item.comision is null and item.estadoSolicitud.id in [5] %}
                                <a title="Asignar comisión"
                                   href="{{ path('app_comision_evaluadora_registrar', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-user-friends"></i>
                                </a>
                            {% endif %}
                            {% if item.estadoSolicitud.id in [7] %}
                                <a title="Subir plan de trabajo"
                                   href="{{ path('app_plan_anual_evaluacion_plan_trabajo', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-upload"></i>
                                </a>
                            {% endif %}
                            {% if item.estadoSolicitud.id in [9] %}
                                <button title="Iniciar proceso" class="btn btn-outline-primary elementRemove" #}
                                        data-url="{{ path('app_plan_anual_evaluacion_iniciar_proceso', {'id': item.id}) }}">
                                    <i class="fa fa-info"></i>
                                </button>
                            {% endif %}


                            {#                                {% if item.aplazamiento is null %} #}
                            {#                                    <a title="Aplazar" #}
                            {#                                       href="{{ path('app_comision_evaluadora_aplazar', {'id': item.id}) }}" #}
                            {#                                       class="btn btn-outline-primary"><i #}
                            {#                                                class="fa fa-calendar-plus"></i> #}
                            {#                                    </a> #}
                            {#                                {% endif %} #}

                            {% if item.estadoSolicitud.id in [11] %}
                                <a title="Asignar dictámen de comisión"
                                   href="{{ path('app_plan_anual_evaluacion_dictamen_comision', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-file"></i>
                                </a>
                            {% endif %}

                            {% if item.estadoSolicitud.id in [12] %}
                                <a title="Asignar dictámen del Comité Técnico Evaluador"
                                   href="{{ path('app_plan_anual_evaluacion_dictamen_cte', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-file-archive"></i>
                                </a>
                            {% endif %}
                            {% if item.estadoSolicitud.id in [13] %}
                                <a title="Calificación"
                                   href="{{ path('app_plan_anual_evaluacion_dictamen_jan', {'id': item.id}) }}"
                                   class="btn btn-outline-primary"><i
                                            class="fa fa-book-open"></i>
                                </a>
                            {% endif %}
                            {% if item.estadoSolicitud.id in [14] %}
                                <a title="Descargar informe de la JAN" target="_blank"
                                   class="btn btn-outline-primary"
                                   href="{{ app.request.getSchemeAndHttpHost() }}/uploads/evaluacion/plan_anual/jan/dictamen/{{ item.dictamenJan }}">
                                    <i class="fa fa-file-download"></i>
                                </a>
                            {% endif %}
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_plan_anual_evaluacion_eliminar', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}


