<div class="row" style="padding-top: 1%">
    <div class="col-2" style="padding-left: 1%">
        <h5 class="mb-0"><a
                    href="{% if item.logo != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/institucion/logo/{{ item.logo }} {% else %} /assets/images/usuario.png {% endif %}"
                    target="_blank">
                <img src="{% if item.logo != null %}{{ app.request.getSchemeAndHttpHost() }}/uploads/institucion/logo/{{ item.logo }}{% else %} /assets/images/usuario.png {% endif %}"
                     style="width: 120px;height: 120px; object-fit: cover">
            </a></h5>
    </div>
    <div class="col-5" style="margin-left: -3%">
        <h5 class="mb-0"><b>Nombre:</b> {{ item.nombre }}</h5>
        <h5 class="mb-0"><b>Siglas:</b> {{ item.siglas }}</h5>
        <h5 class="mb-0"><b>Tipo de intitución:</b> {{ item.tipoInstitucion.nombre|default('') }}</h5>
        <h5 class="mb-0"><b>Sitio web:</b> {{ item.sitioWeb|default('') }}  </h5>
        <h5 class="mb-0"><b>Correo:</b> {{ item.correo|default('') }}</h5>
    </div>
    <div class="col-5">
        <h5 class="mb-0"><b>Rector: </b>{{ item.gradoAcademicoRector.siglas | default('') }} {{ item.rector }}</h5>
        <h5 class="mb-0"><b>Categoría de acreditación:</b> {{ item.categoriaAcreditacion.nombre|default('') }}</h5>
        <h5 class="mb-0"><b>Fecha de fundación:</b> {{ item.fechaFundacion | date('d/m/Y') }}</h5>
        <h5 class="mb-0"><b>Lema:</b> {{ item.lema|default('') }}  </h5>
        <h5 class="mb-0"><b>Campus universitario:</b> {{ item.campusUniversitario|default('') }}</h5>
    </div>
</div>
<hr>
<h5 class="mb-0"><b>Sedes Universitarias</b></h5>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Coordenadas</th>
    </tr>
    </thead>
    <tbody>
    {% for item in sedes %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.nombreSede | default('') }}</td>
            <td>{{ item.direccionSede | default('') }}</td>
            <td width="18%">{{ item.coordenadasSede | default('') }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>


<hr>
<h5 class="mb-0"><b>Facultades</b></h5>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Nombre</th>
        <th>Descripción</th>
    </tr>
    </thead>
    <tbody>
    {% for item in facultades %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.nombreFacultad | default('') }}</td>
            <td>{{ item.descripcionFacultad | default('') }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>


<hr>
<h5 class="mb-0"><b>Filiares universitarias municipales</b></h5>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Nombre</th>
        <th>Descripción</th>
    </tr>
    </thead>
    <tbody>
    {% for item in fum %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.nombreFacultad | default('') }}</td>
            <td>{{ item.descripcionFacultad | default('') }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>


<hr>
<h5 class="mb-0"><b>Centros universitarios municipales</b></h5>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Nombre</th>
        <th>Descripción</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cum %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.nombreFacultad | default('') }}</td>
            <td>{{ item.descripcionFacultad | default('') }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<hr>
<h5 class="mb-0"><b>Centros de estudios</b></h5>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Nombre</th>
        <th>Descripción</th>
    </tr>
    </thead>
    <tbody>
    {% for item in centrosEstudios %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.nombreCentroEstudio | default('') }}</td>
            <td>{{ item.descripcionCentroEstudio | default('') }}</td>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>


<hr>
<h5 class="mb-0"><b>Programas de pregrado</b></h5>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Nombre</th>
        <th>Tipo de programa</th>
        <th>Categoría de Acreditación</th>
    </tr>
    </thead>
    <tbody>
    {% for item in programasPregradoNoCentroRector %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.solicitudProgramaAcademico.nombre | default('') }}</td>
            <td>{{ item.solicitudProgramaAcademico.tipoProgramaAcademico.nombre | default('') }}</td>
            <td>{{ item.solicitudProgramaAcademico.categoriaAcreditacion.nombre | default('') }}</td>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>


<hr>
<h5 class="mb-0"><b>Programas de posgrado</b></h5>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Nombre</th>
        <th>Tipo de programa</th>
        <th>Categoría de Acreditación</th>
    </tr>
    </thead>
    <tbody>
    {% for item in programasPostgrado %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.nombre | default('') }}</td>
            <td>{{ item.tipoPrograma.nombre | default('') }}</td>
            <td>{{ item.categoriaAcreditacion.nombre | default('') }}</td>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>


<hr>
<h5 class="mb-0"><b>Redes sociales</b></h5>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Red social</th>
        <th>Perfil</th>
    </tr>
    </thead>
    <tbody>
    {% for item in redesSociales %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.redSocial.nombre | default('') }}</td>
            <td>{{ item.perfil | default('') }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>


<hr>
<h5 class="mb-0"><b>Redes</b></h5>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Nombre de la red</th>
        <th>Rol</th>
        <th>Descripción</th>
    </tr>
    </thead>
    <tbody>
    {% for item in redes %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.nombreRed | default('') }}</td>
            <td>{{ item.RolRedes.nombre | default('') }}</td>
            <td>{{ item.descripcionRed | default('') }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<hr>
<h5 class="mb-0"><b>Revistas</b></h5>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Nombre</th>
        <th>Visibilidad</th>
        <th>Indexada en</th>
        <th>Dirección electrónica</th>
    </tr>
    </thead>
    <tbody>
    {% for item in revistas %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.nombreRevista | default('') }}</td>
            <td>{{ item.visibilidad.nombre | default('') }}</td>
            <td>{{ item.indexadaEn | default('') }}</td>
            <td>{{ item.direccionElectronicaRevista | default('') }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<hr>
<h5 class="mb-0"><b>Editoriales</b></h5>
<table class="table table-bordered table-striped dataTable">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Nombre</th>
        <th>Dirección electrónica</th>
        <th>Descripción</th>
    </tr>
    </thead>
    <tbody>
    {% for item in editoriales %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.nombreEditorial | default('') }}</td>
            <td>{{ item.direccionElectronicaEditorial | default('') }}</td>
            <td>{{ item.descripcionEditorial | default('') }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<hr>
<h5 class="mb-0"><b>Recursos humanos</b></h5>
<table class="table table-bordered table-striped dataTable" id="tbl-carrera">
    <thead class="table-custom-header">
    <tr>
        <th>No.</th>
        <th>Recursos humanos</th>
        <th>Cantidad</th>
    </tr>
    </thead>
    <tbody>
    {% for item in recursosHumanos %}
        <tr>
            <td width="1%">{{ loop.index }}</td>
            <td>{{ item.nombre }}</td>
            <td width="20%"><input style="width: 100%" type="text" id="rh_{{ item.id }}"
                                   name="rh_{{ item.id }}" maxlength=4" minlength="1"
                                   value="{{ recursosHumanosAsignados[item.id] | default(0) }}"></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

