{% extends 'baseAdmin.html.twig' %}

{% block title %}Internacionalización{% endblock %}
{% block stylesheets %}
    <style>
        #map {
            height: 350px;
        }
    </style>

{% endblock %}
{% block body %}
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Internacionalización</h3>

            </div>
        </div>
        {{ include('modules/institucion/institucion/short_details.html.twig', { 'item': institucion }) }}
        <!-- /.card-header -->

        <div class="card-body">
            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" style="width: 236px; padding-left: 25px"
                               id="custom-tabs-four-mecanismos-tab" data-toggle="pill"
                               href="#custom-tabs-four-mecanismos" role="tab"
                               aria-controls="custom-tabs-four-mecanismos"
                               aria-selected="true">Mecanismos de colaboración</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="width: 236px; padding-left: 25px"
                               id="custom-tabs-four-programas-tab" data-toggle="pill"
                               href="#custom-tabs-four-programas" role="tab" aria-controls="custom-tabs-four-programas"
                               aria-selected="false">Programas de colaboración</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="width: 236px; padding-left: 25px"
                               id="custom-tabs-four-proyectos-tab" data-toggle="pill"
                               href="#custom-tabs-four-proyectos" role="tab" aria-controls="custom-tabs-four-proyectos"
                               aria-selected="false">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="width: 236px; padding-left: 25px"
                               id="custom-tabs-four-membresias-tab" data-toggle="pill"
                               href="#custom-tabs-four-membresias" role="tab"
                               aria-controls="custom-tabs-four-membresias"
                               aria-selected="false">Membresías</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                        <div class="tab-pane fade active show" id="custom-tabs-four-mecanismos" role="tabpanel"
                             aria-labelledby="custom-tabs-four-mecanismos-tab">
                            <table id="tb1" class="display table table-bordered table-striped dataTable">
                                <thead class="table-custom-header">
                                <tr>
                                    <th>No.</th>
                                    <th>Mecanismo de colaboración</th>
                                    <th>Tipo de mecanismo de colaboración</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in mecanismosColaboracion.data %}
                                    <tr id="tr_{{ item.id_mecanismo_colaboracion }}">
                                        <td width="1%" style="width: 2%">{{ loop.index }}</td>
                                        <td>{{ item.nombre_mecanismo_colaboracion | default('') }}</td>
                                        <td>{{ item.nombre_tipo_mecanismo_colaboracion | default('') }}</td>
                                        <td>{{ item.nombre_estado_mecanismo_colaboracion | default('') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                        <div class="tab-pane fade" id="custom-tabs-four-programas" role="tabpanel"
                             aria-labelledby="custom-tabs-four-programas-tab">
                            <table id="tb2" class="display table table-bordered table-striped dataTable">
                                <thead class="table-custom-header">
                                <tr>
                                    <th>No.</th>
                                    <th>Programa de colaboración</th>
                                    <th>Patrocinador</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in programasColaboracion.data %}
                                    <tr id="tr_{{ item.id_programa_colaboracion }}">
                                        <td width="1%" style="width: 2%">{{ loop.index }}</td>
                                        <td>{{ item.nombre_programa_colaboracion | default('') }}</td>
                                        <td>{{ item.nombre_patrocinador | default('') }}</td>
                                        <td>{{ item.nombre_estado_programa | default('') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="custom-tabs-four-proyectos" role="tabpanel"
                             aria-labelledby="custom-tabs-four-proyectos-tab">
                            <table id="tb1" class="display table table-bordered table-striped dataTable">
                                <thead class="table-custom-header">
                                <tr>
                                    <th>No.</th>
                                    <th>Proyecto</th>
                                    <th>Estado</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in proyectos.data %}
                                    <tr id="tr_{{ item.id_proyecto }}">
                                        <td width="1%" style="width: 2%">{{ loop.index }}</td>
                                        <td>{{ item.nombre_proyecto | default('') }}</td>
                                        <td>{{ item.nombre_estado_proyecto | default('') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane fade" id="custom-tabs-four-membresias" role="tabpanel"
                             aria-labelledby="custom-tabs-four-membresias-tab">
                            <table id="tb1" class="display table table-bordered table-striped dataTable">
                                <thead class="table-custom-header">
                                <tr>
                                    <th>No.</th>
                                    <th>Membresia</th>
                                    <th>Tipo</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in membresias.data %}
                                    <tr id="tr_{{ item.id_membresia }}">
                                        <td width="1%" style="width: 2%">{{ loop.index }}</td>
                                        <td>{{ item.nombre_membresia | default('') }}</td>
                                        <td>{{ item.nombre_tipo_membresia | default('') }}</td>
                                        <td>{{ item.nombre_estado_membresia | default('') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('.nav-link').click(function (e) {

            $(".dataTables_scrollHeadInner").css("width", '100%');
            $('table.display').DataTable().draw();
            console.log(32);
            // $('table.display').DataTable();
        })
        //
        // $(".dataTables_scrollHeadInner").css("width", '100%');
        // $("select").change()
        $(document).ready(function (e) {
            $(".dataTables_scrollHeadInner").css("width", '100%');
            $("select").change()
            $('table.display').DataTable();
            // $(".dataTables_scrollHeadInner").css("width", '100%');
            // $('table.display').DataTable().draw();
        });
    </script>
{% endblock %}