{% extends 'baseAdmin.html.twig' %}

{% block title %}Adicionar institución{% endblock %}
{% block stylesheets %}
    <style>
        #map {
            height: 350px;
        }
    </style>

{% endblock %}
{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Adicionar institución</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.estructura) }}
                    {{ form_widget(form.estructura) }}
                    {{ form_errors(form.estructura) }}
                </div>
                <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 form-group">
                    {{ form_label(form.siglas) }}
                    {{ form_widget(form.siglas) }}
                    {{ form_errors(form.siglas) }}
                </div>
                <div class="col-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 form-group">
                    {{ form_label(form.codigo) }}
                    {{ form_widget(form.codigo) }}
                    {{ form_errors(form.codigo) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.logo) }}
                    {{ form_widget(form.logo) }}
                    <span style="margin-top: 1%;position: absolute;margin-left: -95%;z-index: 100;"
                          class="cargar-archivo"> </span>
                    {{ form_errors(form.logo) }}
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.tipoInstitucion) }}
                    {{ form_widget(form.tipoInstitucion) }}
                    {{ form_errors(form.tipoInstitucion) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.gradoAcademicoRector) }}
                    {{ form_widget(form.gradoAcademicoRector) }}
                    {{ form_errors(form.gradoAcademicoRector) }}
                </div>
                <div class="col-4 form-group">
                    {{ form_label(form.rector) }}
                    {{ form_widget(form.rector) }}
                    {{ form_errors(form.rector) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.organigrama) }}
                    {{ form_widget(form.organigrama) }}
                    <span style="margin-top: 1%;position: absolute;margin-left: -95%;z-index: 100;"
                          class="cargar-archivo1"> </span>
                    {{ form_errors(form.organigrama) }}
                </div>
                <div class="col-4 form-group">
                    {{ form_label(form.fechaFundacion) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaFundacion) }}
                        {{ form_errors(form.fechaFundacion) }}
                    </div>
                </div>


                <div class="col-4 form-group">
                    {{ form_label(form.categoriaAcreditacion) }}
                    {{ form_widget(form.categoriaAcreditacion) }}
                    {{ form_errors(form.categoriaAcreditacion) }}
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 form-group">
                    {{ form_label(form.lema) }}
                    {{ form_widget(form.lema) }}
                    {{ form_errors(form.lema) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 form-group">
                    {{ form_label(form.mision) }}
                    {{ form_widget(form.mision) }}
                    {{ form_errors(form.mision) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 form-group">
                    {{ form_label(form.vision) }}
                    {{ form_widget(form.vision) }}
                    {{ form_errors(form.vision) }}
                </div>
            </div>
            <h6 class="mb-0"><b><p
                            style="font-size: 20px; font-weight: bold; margin-top: 5px;">
                        Datos de contacto</p>
                </b></h6>
            <hr style="margin-bottom: 5px;padding-left: 1%">

            <div class="row">
                <div class="col-4 form-group">
                    {{ form_label(form.sitioWeb) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-globe"></i></span>
                        </div>
                        {{ form_widget(form.sitioWeb) }}
                        {{ form_errors(form.sitioWeb) }}
                    </div>
                </div>
                <div class="col-4 form-group">
                    {{ form_label(form.telefono) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                        {{ form_widget(form.telefono) }}
                        {{ form_errors(form.telefono) }}
                    </div>
                </div>

                <div class="col-4 form-group">
                    {{ form_label(form.correo) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        {{ form_widget(form.correo) }}
                        {{ form_errors(form.correo) }}
                    </div>
                </div>

            </div>
            <h6 class="mb-0"><b><p
                            style="font-size: 20px; font-weight: bold; margin-top: 5px;">
                        Localización</p>
                </b></h6>
            <hr style="margin-bottom: 5px;padding-left: 1%">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.direccionSedePrincipal) }}
                    {{ form_widget(form.direccionSedePrincipal) }}
                    {{ form_errors(form.direccionSedePrincipal) }}
                </div>
                <div class="col-4 form-group">
                    {{ form_label(form.coordenadasSedePrincipal) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-map-marked"></i></span>
                        </div>
                        {{ form_widget(form.coordenadasSedePrincipal) }}
                        {{ form_errors(form.coordenadasSedePrincipal) }}
                    </div>
                </div>
                <div class="col-4 form-group">
                    {{ form_label(form.campusUniversitario) }}
                    {{ form_widget(form.campusUniversitario) }}
                    {{ form_errors(form.campusUniversitario) }}
                </div>
                <div class="col-4 form-group">
                    {{ form_label(form.activo) }}
                    {{ form_widget(form.activo) }}
                    {{ form_errors(form.activo) }}
                </div>
            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_institucion_index') }}" data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}

        <div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalDetail"
             aria-hidden="true">
            <div class="modal-dialog  modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-weight-bold" id="modalDetailLabel">Seleccionar ubicación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body modalDetailBody">
                        <div id="map"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary aceptar">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascripts %}
    <script>

        $('#institucion_logo').change(function () {
            var filename = jQuery(this).val().split('\\').pop();
            $('.cargar-archivo').html(filename);
        })
        $('#institucion_organigrama').change(function () {
            var filename = jQuery(this).val().split('\\').pop();
            $('.cargar-archivo1').html(filename);
        })


        $('#institucion_fechaFundacion').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        $('[data-mask]').inputmask()

        $(document).ready(function () {
            let mymap = '';
            let defaultLocation = '22.798971336311112, -82.76412963867189';
            let defaultZoom = 10;
            let locationMap = '';
            let map_current_location = '';
            let marker = '';
            $('#institucion_coordenadasSedePrincipal').click(function () {
                $('#modalDetail').modal('show')
                setTimeout(function () {
                    map_current_location = $('#institucion_coordenadasSedePrincipal').val() ? $('#institucion_coordenadasSedePrincipal').val() : '22.81258, -82.758293'

                    let options = {
                        icon: 'fa-circle',
                        iconColor: '#ffffff',
                        markerColor: 'blue',
                        shape: 'circle',
                        prefix: 'fa'
                    };


                    if ($('#institucion_coordenadasSedePrincipal').val() !== '' && $('#institucion_coordenadasSedePrincipal').val() !== null) {
                        defaultLocation = $('#institucion_coordenadasSedePrincipal').val();
                        defaultZoom = 10;
                    }

                    if (mymap === '') {

                        mymap = L.map('map').setView(L.latLng(defaultLocation.split(',').map(v => parseFloat(v))), defaultZoom);

                        initFullScreem();
                    }

                    if ($('#institucion_coordenadasSedePrincipal').val() !== '' && $('#institucion_coordenadasSedePrincipal').val() !== null) {
                        if (marker === '') {
                            marker = create_extramarker(L.latLng($('#institucion_coordenadasSedePrincipal').val().split(',').map(v => parseFloat(v))), options);
                        } else {
                            updateMarker(marker, L.latLng($('#institucion_coordenadasSedePrincipal').val().split(',').map(v => parseFloat(v))).lat, L.latLng($('#institucion_coordenadasSedePrincipal').val().split(',').map(v => parseFloat(v))).lng)
                        }


                    } else {
                        if (marker === '') {
                            marker = create_extramarker(L.latLng(22.81258, -82.758293), options);
                        } else {
                            updateMarker(marker, 22.81258, -82.758293)
                        }
                    }


                    marker.addTo(mymap);


                    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibmVzdHk5MzA2IiwiYSI6ImNsM2x0c21oYzBmbHUzcHF1bmhiZjVscnUifQ.qhpQLdO9ZXK8qnWjHBh7hg', {
                        attribution: '',
                        maxZoom: 18,
                        id: 'mapbox/streets-v11',
                        // tileSize: 512,
                        // zoomOffset: -1,
                        // accessToken: 'your.mapbox.access.token'
                    }).addTo(mymap);

                    mymap.addEventListener('click', (e) => {

                        map_current_location = e.latlng.lat.toString() + ', ' + e.latlng.lng.toString();
                        locationMap = e.latlng.lat.toString() + ', ' + e.latlng.lng.toString();

                        // update marker location
                        updateMarker(marker, e.latlng.lat, e.latlng.lng);


                    });


                    function updateMarker(marker, lat, lng) {
                        marker.setLatLng([lat, lng])
                            .bindPopup(marker.getLatLng().toString())
                            .openPopup();
                    }

                    function create_extramarker(latlng, options) {
                        // Creates a red marker with the coffee icon
                        let markerIcon = L.ExtraMarkers.icon(
                            options
                        );


                        return L.marker(latlng, {icon: markerIcon});
                    }

                    function initFullScreem() {
                        L.control.fullscreen({
                            position: 'topleft', // change the position of the button can be topleft, topright, bottomright or bottomleft, defaut topleft
                            title: 'Show fullscreen', // change the title of the button, default Full Screen
                            titleCancel: 'Exit fullscreen', // change the title of the button when fullscreen is on, default Exit Full Screen
                            content: null, // change the content of the button, can be HTML, default null
                            forceSeparateButton: true, // force seperate button to detach from zoom buttons, default false
                            fullscreenElement: false // Dom element to render in full screen, false by default, fallback to map._container
                        }).addTo(mymap);
                    }
                }, 500)


            })

            $('.aceptar').click(function () {
                $('#institucion_coordenadasSedePrincipal').val(map_current_location)
                $('#modalDetail').modal('hide')
            })


        })


    </script>
{% endblock %}