{% extends 'baseAdmin.html.twig' %}

{% block title %}Definir acciones{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Definir acciones</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h5 class="mb-0"><b>Nombre:</b> {{ convenio.nombre }}</h5>
                </div>
                <div class="col-6">
                    <h5 class="mb-0"><b>Institución cubana:</b> {{ convenio.institucionCubana.nombre | default('') }}</h5>
                </div>
                <div class="col-6">
                    <h5 class="mb-0"><b>País:</b> {{ convenio.pais.nombre | default('') }}</h5>
                </div>
                <div class="col-6">
                    <h5 class="mb-0"><b>Institución extranjera:</b> {{ convenio.institucionExtranjera.nombre | default('') }}</h5>
                </div>

                <div class="col-6">
                    <h5 class="mb-0"><b>Modalidad:</b> {{ convenio.modalidad.nombre | default('') }}</h5>
                </div>
                <div class="col-6">
                    <h5 class="mb-0"><b>Tipo:</b> {{ convenio.tipo.nombre | default('') }}</h5>
                </div>

                <div class="col-6">
                    <h5 class="mb-0"><b>Fecha suscribe:</b> {{ convenio.fechaSuscribe | date('d/m/Y') }}</h5>
                </div>
                <div class="col-6">
                    <h5 class="mb-0"><b>Fecha caducidad:</b> {{ convenio.fechaCaducidad | date('d/m/Y') }}</h5>
                </div>
            </div>
<hr>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
            </div>

        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <button id="btn_submit" class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Nombre</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in acciones %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>
                        <td width="95%">{{ item.nombre }}</td>
                        <td>
                            <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                    data-url="{{ path('app_convenio_eliminar_accion', {'id': item.id}) }}">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('#btn_submit').click(function (e) {
            e.preventDefault();

            $('form[name="convenio_acciones"]').attr('action', 'acciones');
            $('form[name="convenio_acciones"]').submit();
        })
    </script>
{% endblock %}