<div class="row">
    <div class="col-6">
        <h5 class="mb-0"><b>Nombre:</b> {{ item.nombre }}</h5>
    </div>
    <div class="col-6">
        <h5 class="mb-0"><b>Institución cubana:</b> {{ item.institucionCubana.nombre | default('') }}</h5>
    </div>
    <div class="col-6">
        <h5 class="mb-0"><b>País:</b> {{ item.pais.nombre | default('') }}</h5>
    </div>
    <div class="col-6">
        <h5 class="mb-0"><b>Institución extranjera:</b> {{ item.institucionExtranjera.nombre | default('') }}</h5>
    </div>

    <div class="col-6">
        <h5 class="mb-0"><b>Modalidad:</b> {{ item.modalidad.nombre | default('') }}</h5>
    </div>
    <div class="col-6">
        <h5 class="mb-0"><b>Tipo:</b> {{ item.tipo.nombre | default('') }}</h5>
    </div>

    <div class="col-6">
        <h5 class="mb-0"><b>Fecha suscribe:</b> {{ item.fechaSuscribe | date('d/m/Y') }}</h5>
    </div>
    <div class="col-6">
        <h5 class="mb-0"><b>Fecha caducidad:</b> {{ item.fechaCaducidad | date('d/m/Y') }}</h5>
    </div>
    <div class="col-6">
        <h5 class="mb-0"><b>Cantidad de acciones:</b> {{ item.cantidadAcciones | default('') }}</h5>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h5 class="mb-0"><b>Descripción:</b> {{ item.descripcion }}</h5>
    </div>
</div>

