{% extends 'baseAdmin.html.twig' %}

{% block title %}Adicionar instrumento jurídico{% endblock %}

{% block body %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Adicionar instrumento jurídico</h3>

            </div>
        </div>
        <!-- /.card-header -->
        {{ form_start(form) }}
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                    {{ form_errors(form.nombre) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.modalidad) }}
                    {{ form_widget(form.modalidad) }}
                    {{ form_errors(form.modalidad) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.tipo) }}
                    {{ form_widget(form.tipo) }}
                    {{ form_errors(form.tipo) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.institucionCubana) }}
                    {{ form_widget(form.institucionCubana) }}
                    {{ form_errors(form.institucionCubana) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.pais) }}
                    {{ form_widget(form.pais) }}
                    {{ form_errors(form.pais) }}
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.institucionExtranjera) }}
                    {{ form_widget(form.institucionExtranjera) }}
                    {{ form_errors(form.institucionExtranjera) }}
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fechaSuscribe) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaSuscribe) }}
                        {{ form_errors(form.fechaSuscribe) }}
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.fechaCaducidad) }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        {{ form_widget(form.fechaCaducidad) }}
                        {{ form_errors(form.fechaCaducidad) }}
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 form-group">
                    {{ form_label(form.cantidadAcciones) }}
                    {{ form_widget(form.cantidadAcciones) }}
                    {{ form_errors(form.cantidadAcciones) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-group">
                    {{ form_label(form.descripcion) }}
                    {{ form_widget(form.descripcion) }}
                    {{ form_errors(form.descripcion) }}
                </div>
            </div>
        </div>
        <div class="card-footer" style="display: flex; justify-content: flex-end; align-items: center;">
            <a class="btn btn-danger mr-2 btn-cancel" data-url="{{ path('app_convenio_index') }}" data-title=""
               data-content="¿Está seguro que desea realizar la acción?" type="button">Cancelar</a>
            <button class="btn btn-primary">Aceptar</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script>

        $('#convenio_fechaSuscribe').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#convenio_fechaCaducidad').datetimepicker({
            format: 'DD/MM/YYYY'
        });


        $('#convenio_pais').on('change', function () {
            if ($(this).val() != "") {
                HoldOn.open({
                    theme: "sk-cube-grid",
                    message: 'Por favor espere...',
                    textColor: "white"
                });
                var url = "{{ path('app_institucion_extranjera_institucion_dado_pais', {'id':'idP'}) }}";
                url = url.replace('idP', $(this).val());
                $.get(url, function (data) {
                    $('#convenio_institucionExtranjera option').remove();
                    $('#convenio_institucionExtranjera').append(new Option('Seleccione', ""));
                    for (var i = 0; i < data.length; i++) {
                        $('#convenio_institucionExtranjera').append(new Option(data[i].nombre, data[i].id));
                    }
                    HoldOn.close()
                });
            }
        });

    </script>
{% endblock %}