{% extends 'baseAdmin.html.twig' %}

{% block title %}Solicitudes de aplazamiento{% endblock %}

{% block body %}

    {% include 'pages/modalDetail.html.twig' %}

    <div class="card shadow-sm">
        <div class="card-header">
            <div class="row" style="display: flex; justify-content: space-between; align-items: center">

                <h3 class="card-title text-bold text-gray">Listado de solicitudes de aplazamiento</h3>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped dataTable">
                <thead class="table-custom-header">
                <tr>
                    <th>No.</th>
                    <th>Organismo</th>
                    <th>Institución</th>
                    <th>Programa de pregrado</th>
                    <th>Programa de posgrado</th>
                    <th>Evaluación actual</th>
                    <th>Fecha propuesta de aplazamiento</th>
                    <th>Estado</th>
                    <th class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in registros %}
                    <tr>
                        <td width="1%">{{ loop.index }}</td>

                        {% if item.solicitud.tipoSolicitud == 'institucion' %}
                            <td>{{ item.solicitud.institucion.estructura.estructura.siglas | default('') }}</td>
                            <td>{{ item.solicitud.institucion.nombre | default('') }}</td>
                        {% elseif  item.solicitud.tipoSolicitud == 'programa_pregrado' %}
                            <td>{{ item.solicitud.programaPregrado.centroRector.estructura.estructura.siglas | default('') }}</td>
                            <td>{{ item.solicitud.programaPregrado.centroRector.nombre | default('') }}</td>
                        {% elseif  item.solicitud.tipoSolicitud == 'programa_posgrado' %}
                            <td>{{ item.solicitud.programaPosgrado.universidad.estructura.estructura.siglas | default('') }}</td>
                            <td>{{ item.solicitud.programaPosgrado.universidad.nombre | default('') }}</td>
                        {% endif %}

                        <td>{{ item.solicitud.programaPregrado.nombre | default('') }}</td>
                        <td>{{ item.solicitud.programaPosgrado.nombre | default('') }}</td>
                        <td>{{ item.solicitud.categoriaAcreditacionActual | default('') }}</td>
                        <td>{% if item.fechaPropuestaAplazamiento is not null %} {{ item.fechaPropuestaAplazamiento | date('d/m/Y') }} {% else %} {{ '' }} {% endif %}</td>
                        <td>
                            <span class="{{ item.aplazamientoClass }}">{{ item.estadoAplazamiento.nombre | default('') }}</span>
                        </td>
                        <td width="20%" class="text-center">
                            {% if item.estadoAplazamiento.id ==  1 %}
                                <button title="Aprobar" class="btn btn-outline-primary elementRemove"
                                        data-url="{{ path('app_aplazamiento_aprobar', {'id': item.id}) }}">
                                    <i class="fa fa-calendar-check"></i>
                                </button>
                                <button title="Rechazar" class="btn btn-outline-primary elementRemove"
                                        data-url="{{ path('app_aplazamiento_rechazar', {'id': item.id}) }}">
                                    <i class="fa fa-calendar-times"></i>
                                </button>

                                <button title="Eliminar" class="btn btn-outline-danger elementRemove"
                                        data-url="{{ path('app_aplazamiento_eliminar', {'id': item.id}) }}">
                                    <i class="fa fa-trash"></i>
                                </button>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>



{% endblock %}


